@charset "utf-8";

$red: #f7977a;
$red-orange: #f9ad81;
$yellow-orange: #fdc68a;
$yellow: #fff79a;
$pea-green: #c4df9b;
$yellow-green: #a2d39c;
$green: #82ca9d;
$green-cyan: #7bcdc8;
$cyan: #6ecff6;
$cyan-blue: #7ea7d8;
$blue: #8493ca;
$blue-violet: #8882be;
$violet: #a187be;
$violet-magenta: #bc8dbf;
$magenta: #f49ac2;
$magenta-red: #f6989d;

@mixin colored-link-borders {
  &:nth-child(1) {
    a {
      color: $cyan;
      font-weight:bold;

      &:hover {
        color: #FFF;
        font-weight:bold;
      }
    }
  }

  &:nth-child(2) {
    a {
      color: $blue-violet;
      font-weight:bold;

      &:hover {
        color: #FFF;
        font-weight:bold;
      }
    }
  }

  &:nth-child(3) {
    a {
      color: $violet-magenta;
      font-weight:bold;

      &:hover {
        color: #FFF;
        font-weight:bold;
      }
    }
  }

  &:nth-child(4) {
    a {
      color: $green-cyan;
      font-weight:bold;

      &:hover {
        color: #FFF;
        font-weight:bold;
      }
    }
  }

  &:nth-child(5) {
    a {
      color: $red;
      font-weight:bold;

      &:hover {
        color: #FFF;
        font-weight:bold;
      }
    }
  }

  &:nth-child(6) {
    a {
      color: $green;
      font-weight:bold;

      &:hover {
        color: #FFF;
        font-weight:bold;
      }
    }
  }

  &:nth-child(7) {
    a {
      color: $magenta;
      font-weight:bold;

      &:hover {
        color: #FFF;
        font-weight:bold;
      }
    }
  }

  &:nth-child(8) {
    a {
      border-bottom: 2px solid $yellow;

      &:hover {
        border-bottom: 2px solid #FFF;
      }
    }
  }
}

body {
  overflow-y: scroll;
  overflow-x: hidden; // prevent touch scrolling from moving left to right as if there is content there
  min-height: 100vh;
  background: #000;
  margin: 0;
  padding: 0;
  color: #CDCDCD;
  font-family: "Avenir Next", "Helvetica Neue", Arial, sans-serif;
  font-size: 17px;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1,
h2,
h3,
h4 {
  font-family: 'Libre Baskerville', serif;
}

a,
a:visited {
  text-decoration: none;
  color: $cyan-blue;
}

a:hover {
  text-decoration: underline;
}

p,
dd,
dt,
dl {
  font-size: 1em;
  font-style: normal;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.teaser {
  line-height: 1.75em;
  font-size: 1.25em;
  font-weight: 100;

  @media (max-width: 476px) {
    font-weight: 400;
  }
}

// DOCUMENT STRUCTURE
#container {
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  width: 100%;
}

.content {
  margin: 0 auto;
}

#main {
  min-height: 80vh;
  font-weight: 200;
}

#header {
  height: 60px;
  line-height: 60px;

  #banner {
    float: left;

    a {
      color: #FFF;
      font-size: 28px;
      font-weight: 900;
    }

    a:hover {
      color: #FFF;
    }
  }

  navigation {
    float: right;
    margin-left: 40px;

    .navbox {
      text-align: center;
      display: inline-block;
      margin: 0 10px;

      a,
      a:visited {
        color: #CDCDCD;
        text-decoration: none;
      }

      a:hover {
        color: #FFF;
      }

      @include colored-link-borders;
    }
  }
}

pre {
  padding: 1em;
  line-height: 1.2em;
}

.box {
  overflow: hidden;
  margin: 20px 0;
}

.collapse {
  margin: -20px 0 20px 0;
}

a .pagination,
a:visited .pagination {
  text-decoration: none;
  color: #FFF;
}

a:hover .pagination {
  text-decoration: none;
  color: #FFF;
}

.boxtitle {
  padding: 2em 2em 0 2em;
}

.pagination {
  padding: 1em;
  line-height: 1em;
  float: left;
  text-align: center;
  height: 100%;
  width: 100%;
}

footer {
  border-top: 2px solid rgba(100, 100, 100, 0.3);
  background-color: rgba(25, 25, 25, 0.95);
  position: absolute;
  width: 100%;

  h5 {
    font-size: 1.25em;
    color: #999;
    font-weight: 300;
    margin: 2em 0 0 0;
  }

  ul,
  ol {
    list-style: none;
    padding: 1em 0;
  }
}

.footer-box {
  line-height: 1em;
  height: 100%;
}

#blog-title {
  text-align: center;
}

h1 {
  color: #FFF;
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 0.25em 0;
}

#subtitle {
  display: block;
}


h2 {
  color: #CCC;
  font-size: 1.75em;
  font-weight: 700;
  margin-top: 1.25em;
  margin-bottom: 0;
}

h2:first-child {
  margin-top: 0.75em;
}

h2 span {
  padding-left: 0.5em;
  color: #999;
  font-size: 1rem;
  font-weight: 300;
}

h3,
dt {
  color: #DDD;
  font-size: 1.375em;
  font-weight: 300;
}

h4 {
  font-size: 1em;
  color: #333;
  font-weight: 300;
}

dd>h4 {
  color: #B5B5B5;
}

p {
  margin: 0.5em 0 1.5em 0;
  line-height: 1.5em;
}

dd ul {
  margin: 5px 0;
}

li {
  margin: 0 0 0.5em 0;
}

dd {
  margin: 0 0 2em 0.75em;
}

dd:last-child {
  margin: 0 0 0 0.75em;
}

dt {
  margin: 0 0 0.5em 0;
}

.bar-link {
  display: inline-block;
  color: #CDCDCD;
  margin: 0em 0.5em 0.25em 0em;
  font-size: 1.25em;

  a,
  a:visited {
    color: #CDCDCD;
    text-decoration: none;
  }
}

.bar-header {
  display: inline-block;
  text-align: right;
  width: 100px;
  margin-right: 25px;
}

#articles {
  margin: 2em 0;

  .article-preview {
    margin-bottom: 2.25em;

    h2 {
      font-size: 18px;
      font-weight: 400;

      a,
      a:visited {
        text-decoration: none;
        color: #CDCDCD;
      }

      a:hover {
        text-decoration: none;
        color: #FFF;
      }
    }

    span.published {
      color: #CCC;
      font-style: italic;
    }

    span.tagged {
      font-size: 0.875em;
      color: #CCC;
      font-style: italic;
    }
  }
}

#article {
  margin: 2em 0;
  min-height: 600px;

  blockquote {
    margin: 0;
    font-style: italic;
    font-weight: 500;

    &:before {
      content: "\201C";
    }

    &:after {
      content: "\201D";
    }
  }

  .attribution {
    font-size: 1.25em;
    margin: 0 1em 0.5em 1em;
    font-weight: 100;
    text-align: right;
    color: #CCC;
    clear: both;

    &:before {
      content: "\2014";
    }
  }
}

#links {
  font-size: 16px;
  line-height: 24px;

  .link-preview {
    padding: 5px 0;

    a {
      display: inline-block;
      width: 20%;
    }
  }
}

// these need to go at the end so they are allowed to override

@media (max-width: 476px) {
  body {
    background-image: initial;
    background-color: #000;
    font-weight: 400;
  }

  h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }

  h2 span {
    display: block;
    padding: 0;
    margin-bottom: 0.25em;
  }

  footer {
    h5 {
      margin: 1em 0 0 0;
    }
  }

  #right-bar {
    width: 100%;
  }

  #content {
    clear: both;
    float: left;
  }

  #header {
    height: 30px;
    line-height: 30px;

    navigation {
      float: right;
      margin-left: 0px;
      font-size: 14px;

      .navbox {
        margin: 0 2px;
      }
    }
  }

  #home-links {
    margin-top: 20px;
  }

  .bar-header {
    text-align: left;
    display: block;
    margin-top: 0.5em;
  }

  .bar-link {
    float: left;
    clear: both;
    margin: 0.5em 0;
  }

  .content {
    padding: 10px;
  }
  .pagination {
    margin-top: -1em;
    margin-bottom: 1em;
  }
}

@media (min-width: 477px) and (max-width: 1095px) {
  h2 span {
    display: block;
    padding: 0;
    margin-bottom: 0.25em;
  }

  #header {
    height: 30px;
    line-height: 30px;
  }

  #right-bar {
    width: 100%;
    clear: both;
  }

  #content {
    clear: both;
    float: left;
    width: 100%;
    max-width: 595px;
  }

  #outerContent {
    padding: 20px;
  }
  .pagination {
    margin-top: -1em;
    margin-bottom: 1em;
  }
}

@media (min-width: 1096px) {
  #right-bar {
    float: right;
  }

  #content {
    float: left;
    clear: left;
    width: 100%;
    max-width: 595px;
  }

  #outerContent {
    padding: 1em;
  }

  .content {
    max-width: 1000px;
  }
  .pagination {
    text-align: left;
    padding: 0em;
  }

  .footer-box {
    width: 33%;
    float: left;
  }
}