@charset "utf-8";

$red: #f7977a;
$red-orange: #f9ad81;
$yellow-orange: #fdc68a;
$yellow: #fff79a;
$pea-green: #c4df9b;
$yellow-green: #a2d39c;
$green: #82ca9d;
$green-cyan: #7bcdc8;
$cyan: #6ecff6;
$cyan-blue: #7ea7d8;
$blue: #8493ca;
$blue-violet: #8882be;
$violet: #a187be;
$violet-magenta: #bc8dbf;
$magenta: #f49ac2;
$magenta-red: #f6989d;

html {
  // overflow-y: hidden;
  height:100%;
}

body {
  overflow-y: scroll;
  height:100%;
  background: url('/images/waveofthefuture.jpg') no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin:0;
  padding:0;
  color:#CDCDCD;
  font-family:"Avenir Next", "Helvetica Neue",Arial,sans-serif;
  font-size:14px;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
}

a, a:visited { text-decoration:none; color: $cyan-blue; }
a:hover { text-decoration:underline; }

p,dd,dt,dl {
  font-size:1em;
  font-style:normal;
  font-weight:300;
  margin:0;
  padding:0;
  list-style-type:none;
  background-repeat:no-repeat;
  background-position:0 0;
}

// DOCUMENT STRUCTURE
#container {
  background-color: rgba(0,0,0,0.85);
  position: absolute;
  width: 100%;
}

.content { margin: 0 auto; }
#main { min-height: 80vh; }
#content{ clear:both; }

#header {
  height: 60px;

  #banner {
    float:left;
    a:hover {
      h1 { color: #FFF; }
      text-decoration: none;
    }
  }
  navigation {
    float: left;
    line-height:60px;
    margin-left:40px;

    .navbox {
      text-align:center;
      display:inline-block;
      margin:0 10px;

      a, a:visited {
        color: #CDCDCD;
        text-decoration: none;
      }
      a:hover {
        color: #FFF;
      }

      &#about-nav-link    {a{border-bottom:2px solid $red-orange;     &:hover{border-bottom: 2px solid #FFF;}}}
      &#blog-nav-link    {a{border-bottom:2px solid $cyan-blue;      &:hover{border-bottom: 2px solid #FFF;}}}
      &#contact-nav-link {a{border-bottom:2px solid $pea-green;      &:hover{border-bottom: 2px solid #FFF;}}}
    }
  }
}

pre {
  padding:1em;
  line-height: 1.2em;
}

.box {
  overflow:hidden;
  margin:20px 0;
}

.collapse {
  margin:-20px 0 20px 0;
}

a .shortbox, a:visited .shortbox {
  text-decoration:none; color:#FFF;
}
a:hover .shortbox {
  text-decoration:none; color:#FFF;
}

.boxtitle {
  padding:2em 2em 0 2em;
}

.shortbox {
  padding:1em;
  line-height:1em;
  float:left;
  text-align: center;
  height:100%;
}
footer {
  border-top: 1px solid rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.95);
  position: absolute;
  width: 100%;

  h5 {
    font-size:1.25em;
    color:#999;
    font-weight:300;
    margin:2em 0 0 0;
  }

  ul,ol {
    list-style:none;
    padding: 1em 0;
  }
}
.footer-box {
  line-height:1em;
  height:100%;
}

#blog-title {
  text-align: center;
}

h1{
  color:#CCC;
  font-size:36px;
  font-weight:700;
  margin: 0 0 0.25em 0;
}
#subtitle {
  font-weight: 300;
  display:block;
}


h2 {
  color:#DDD;
  font-size:1.75em;
  font-weight:700;
  margin-top: 1.25em;
  margin-bottom: 0;
}

h2 span {
  padding-left:0.5em;
  color:#999;
  font-size:1rem;
  font-weight:300;
}

h3, dt{
  color:#DDD;
  font-size:1.375em;
  font-weight:300;
}

h4 {
  font-size:1em;
  color:#333;
  font-weight:300;
}

dd > h4 {
  color:#B5B5B5;
}

p {
  margin: 1.5em 0;
  line-height:21px;
}

dd ul {
  margin:5px 0;
}

li{
 margin:0 0 0.5em 0;
}

dd {
  margin:0 0 2em 0.75em;
}
dd:last-child {
  margin:0 0 0 0.75em;
}

dt {
  margin:0 0 0.5em 0;
}

.bar-link {
  display:inline-block;
  color: #CDCDCD;
  margin: 0em 0.5em 0.25em 0em;
  font-size: 1.25em;

  a, a:visited {
    color: #CDCDCD;
    text-decoration:none;
  }
}

.bar-header {
  display:inline-block;
  text-align: right;
  width:100px;
  margin-right:25px;
}

// unused
// $red
// $yellow-orange
// $green
// $cyan
// $blue-violet
// $violet
// $magenta

#about { border-bottom: 2px solid $red; &:hover { a{color:#FFF;} border-bottom: 2px solid #FFF; }}
#github { border-bottom: 2px solid $cyan-blue; &:hover { a{color:#FFF;} border-bottom: 2px solid #FFF; }}
#contact { border-bottom: 2px solid $pea-green; &:hover { a{color:#FFF;} border-bottom: 2px solid #FFF; }}
#m2fm { border-bottom: 2px solid $violet-magenta; &:hover { a{color:#FFF;} border-bottom: 2px solid #FFF; }}
#twitter { border-bottom: 2px solid $blue; &:hover { a{color:#FFF;} border-bottom: 2px solid #FFF; }}
#portfolio { border-bottom: 2px solid $yellow; &:hover { a{color:#FFF;} border-bottom: 2px solid #FFF; }}
#photos { border-bottom: 2px solid $red-orange; &:hover { a{color:#FFF;} border-bottom: 2px solid #FFF; }}
#blog { border-bottom: 2px solid $green-cyan; &:hover { a{color:#FFF;} border-bottom: 2px solid #FFF; }}
#upontheboard { border-bottom: 2px solid $magenta-red; &:hover { a{color:#FFF;} border-bottom: 2px solid #FFF; }}
#salttotaste { border-bottom: 2px solid $yellow-green; &:hover { a{color:#FFF;} border-bottom: 2px solid #FFF; }}
#everysinglebike { border-bottom: 2px solid $yellow-orange; &:hover { a{color:#FFF;} border-bottom: 2px solid #FFF; }}
#shortinsider { border-bottom: 2px solid $cyan; &:hover { a{color:#FFF;} border-bottom: 2px solid #FFF; }}


#articles {
  .article-preview {
    margin-bottom:3.25em;

    h2 {
      font-size:18px;
      font-weight:400;
      a, a:visited { text-decoration:none; color: #CDCDCD;}
      a:hover { text-decoration:none; color: #FFF;}
    }
    span.published {
      color: #CCC;
      font-style: italic;
    }
    span.tagged {
      font-size:0.875em;
      color: #CCC;
      font-style: italic;
    }
  }
}

.darker {
  background-color: rgba(0,0,0,0.5);
  padding: 0.5em 2em;
}

#article {
  margin: 2em 0;
  min-height: 600px;
  line-height:1.5em;

  blockquote {
    font-size: 3em;
    line-height: 1.25em;
    color: #CCC;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 2.5em 0.5em 2.5em;
    font-style: italic;

    font-weight: 100;
    &:before {
      content: "\201C";
    }
    &:after {
      content: "\201D";
    }
  }
  .attribution {
    font-size: 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 2.5em 0.5em 2.5em;
    font-weight: 100;
    float:right;
    color: #CCC;

    &:before {
      content: "\2014";
    }
  }
}

#links {
  font-size: 16px;
  line-height: 24px;

  .link-preview {
    padding:5px 0;
    a { display:inline-block; width: 20%; }
  }
}

// these need to go at the end so they are allowed to override

@media (max-width: 476px) {
  h1 { font-size:28px; font-weight:700; line-height:30px;}
  h2 span { display:block; padding:0; margin-bottom:0.25em; }
  footer { h5 { margin: 1em 0 0 0; } }
  #header {
    height:30px;
    navigation { line-height:30px; float:right;}
  }

  .bar-header {
    text-align: left;
    display:block;
    margin-top:0.5em;
  }
  .bar-link { float:left; clear:both; margin:0.5em 0; }
  .content {
    padding: 10px;
  }
}

@media (min-width: 477px) and (max-width: 999px) {
  h2 span { display:block; padding:0; margin-bottom:0.25em; }

  #content {
    width: 100%;
    max-width: 595px;
  }

  #outerContent {
    padding: 20px;
  }
}

@media (min-width: 1000px) and (max-width: 1095px) {
  #content {
    float:right;
    width: 100%;
    max-width: 595px;
    margin-right: 82px;
  }
  #outerContent {
    padding: 30px;
  }
  .footer-box {
    width: 33%;
    float:left;
  }
}

@media (min-width: 1096px) {
  #content {
    float:right;
    width: 100%;
    max-width: 595px;
  }
  #outerContent {
    padding: 3em;
  }
  .content {
    max-width: 1000px;
  }
  .footer-box {
    width: 33%;
    float:left;
  }
}
