@charset "utf-8";

body {
  margin:0;
  padding:0;
  color:#FFF;
  font-size:13px;
  font-family:"Muli", "Helvetica Neue",Arial,sans-serif;
  font-weight:300;
  background:#000 url('/images/greatwave.jpg') 0 0 no-repeat;
  line-height:17px;
}

div,ul,ol,li,p,dd,dt,dl,h1,h2,h3,h4,h5,h6 {
  font-size:1em;
  font-style:normal;
  font-weight:300;
  margin:0;
  padding:0;
  list-style-type:none;
  background-repeat:no-repeat;
  background-position:0 0;
}

a, a:visited{text-decoration:none; color:rgba(0, 152, 213, 1);}
a:hover{text-decoration:underline; color:rgba(0, 152, 213, 1);}

.box {
  background-color: rgba(0,0,0,0.75);
  overflow:hidden;
  margin:20px 0;
}

.collapse {
  margin:-20px 0 20px 0;
}

.tiledbox {
  float:left;
  padding:20px;
  line-height:50px;
  text-align: center;
}

a .tiledbox, a:visited .tiledbox, a .shortbox, a:visited .shortbox {
  text-decoration:none; color:#FFF;
}
a:hover .tiledbox, a:hover .shortbox {
  text-decoration:none; color:#FFF;
}

.boxtitle {
  padding:2em 2em 0 2em;
}
.content {
  padding:2em;
}

.shortbox {
  padding:1em;
  line-height:1em;
  float:left;
  text-align: center;
  height:100%;
}
.footer {
  border-top: 1px solid rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.8);
}
.footer-box {
  padding:1em;
  line-height:1em;
  float:left;
  height:100%;
}
.footer-box ol {
  padding: 1em 0;
}

#blog-title {
  text-align: center;
}

#subtitle {
  margin-top:1em;
  font-size:1.25em;
  font-weight:400;
  color:#CCC;
}

h1{
  color:#EEE;
  font-size:2.5em;
  line-height: 1em;
  font-weight:300;
}

h2 {
  color:#DDD;
  font-size:1.75em;
  font-weight:300;
}

h2 span {
  padding-left:0.5em;
  color:#999;
  font-size:1rem;
  font-weight:300;
}


h3, dt{
  color:#DDD;
  font-size:1.375em;
  font-weight:300;
}
h4 {
  font-size:1em;
  color:#333;
  font-weight:300;
}
dd > h4 {
  color:#B5B5B5;
}

h5 {
  font-size:1em;
  color:#999;
  font-weight:300;
}

p {
  margin: 1.5em 0;
  line-height:21px;
}

dd ul {
  margin:5px 0;
}

li{
 margin:0 0 0.5em 0; 
}

dd {
  margin:0 0 2em 0.75em;
}
dd:last-child {
  margin:0 0 0 0.75em;
}

dt {
  margin:0 0 0.5em 0;
}

/*#humblesuggestions  { background-color: rgba(160, 99, 121, 0.5);  }*/
.dkblue        { background-color: rgba(59, 89, 182, 0.4); }
.ltblue        { background-color: rgba(64, 153, 255, 0.4); }
.dkred         { background-color: rgba(216, 74, 56, 0.4); }
.ltgrey        { background-color: rgba(200, 200, 200, 0.4); }
.dkgrey        { background-color: rgba(200, 200, 200, 0.1); }
.brightgreen   { background-color: rgba(0, 194, 53, 0.4); }
.ltred         { background-color: rgba(246, 95, 82, 0.4); }
.teal          { background-color: rgba(0, 152, 213, 0.4); }
.orange        { background-color: rgba(234, 115, 0, 0.4);}
.dkgreen       { background-color: rgba(40, 88, 69, 0.4); }
.purple        { background-color: rgba(160, 99, 121, 0.5); }

.article {
  margin: 2em 0;
  line-height: 2em;
}