@charset "utf-8";

$red: #f7977a;
$red-orange: #f9ad81;
$yellow-orange: #fdc68a;
$yellow: #fff79a;
$pea-green: #c4df9b;
$yellow-green: #a2d39c;
$green: #82ca9d;
$green-cyan: #7bcdc8;
$cyan: #6ecff6;
$cyan-blue: #7ea7d8;
$blue: #8493ca;
$blue-violet: #8882be;
$violet: #a187be;
$violet-magenta: #bc8dbf;
$magenta: #f49ac2;
$magenta-red: #f6989d;

html {
  background: url('/images/waveofthefuture.jpg') no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin:0;
  padding:0;
  color:#CDCDCD;
  font-family:"Avenir Next", "Helvetica Neue",Arial,sans-serif;
  font-size:14px;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
}

a, a:visited { text-decoration:none; color: $cyan; }
a:hover { text-decoration:underline; }

p,dd,dt,dl {
  font-size:1em;
  font-style:normal;
  font-weight:300;
  margin:0;
  padding:0;
  list-style-type:none;
  background-repeat:no-repeat;
  background-position:0 0;
}

// DOCUMENT STRUCTURE
#container {
  background-color: rgba(0,0,0,0.85);
  position: absolute;
  width: 100%;
}

.content { margin: 0 auto; }
#main { min-height: 80vh; }

#header {
  height: 60px;

  #banner {
    float:left;
    a:hover {
      h1 { color: #FFF; }
      text-decoration: none;
    }
  }
  navigation {
    float: left;
    line-height:60px;
    margin-left:40px;

    .navbox {
      text-align:center;
      display:inline-block;
      margin:0 10px;

      a, a:visited {
        color: #CDCDCD;
        text-decoration: none;
      }
      a:hover {
        color: #FFF;
      }

      &#home-nav-link    {a{border-bottom:2px solid $red-orange;     &:hover{border-bottom: 2px solid #FFF;}}}
      &#blog-nav-link    {a{border-bottom:2px solid $cyan-blue;      &:hover{border-bottom: 2px solid #FFF;}}}
      &#cv-nav-link      {a{border-bottom:2px solid $violet-magenta; &:hover{border-bottom: 2px solid #FFF;}}}
      &#contact-nav-link {a{border-bottom:2px solid $pea-green;      &:hover{border-bottom: 2px solid #FFF;}}}
    }
  }
}

pre {
  padding:1em;
  line-height: 1.2em;
}

.box {
  overflow:hidden;
  margin:20px 0;
}

.collapse {
  margin:-20px 0 20px 0;
}

a .shortbox, a:visited .shortbox {
  text-decoration:none; color:#FFF;
}
a:hover .shortbox {
  text-decoration:none; color:#FFF;
}

.boxtitle {
  padding:2em 2em 0 2em;
}

.shortbox {
  padding:1em;
  line-height:1em;
  float:left;
  text-align: center;
  height:100%;
}
footer {
  border-top: 1px solid rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.95);
  position: absolute;
  width: 100%;

  ul,ol {
    list-style:none;
    padding: 1em 0;
  }
}
.footer-box {
  line-height:1em;
  height:100%;
}

#blog-title {
  text-align: center;
}

h1{
  color:#CCC;
  font-size:36px;
  font-weight:700;
  margin: 0 0 0.25em 0;
}
#subtitle {
  font-weight: 300;
}


h2 {
  color:#DDD;
  font-size:1.75em;
  font-weight:300;
  margin-top: 1.25em;
  margin-bottom: 0;
}

h2 span {
  padding-left:0.5em;
  color:#999;
  font-size:1rem;
  font-weight:300;
}

h3, dt{
  color:#DDD;
  font-size:1.375em;
  font-weight:300;
}

h4 {
  font-size:1em;
  color:#333;
  font-weight:300;
}

dd > h4 {
  color:#B5B5B5;
}

h5 {
  font-size:1em;
  color:#999;
  font-weight:300;
}

p {
  margin: 1.5em 0;
  line-height:21px;
}

dd ul {
  margin:5px 0;
}

li{
 margin:0 0 0.5em 0;
}

dd {
  margin:0 0 2em 0.75em;
}
dd:last-child {
  margin:0 0 0 0.75em;
}

dt {
  margin:0 0 0.5em 0;
}

.bar-link {
  display:inline-block;
  color: #CDCDCD;
  margin: 0em 0.5em 0.25em 0em;
  font-size: 1.25em;

  a, a:visited {
    color: #CDCDCD;
    text-decoration:none;
  }
}

.bar-header {
  display:inline-block;
  text-align: right; 
  width:100px;
  margin-right:25px;
}

#github { border-bottom: 2px solid $cyan-blue; &:hover { border-bottom: 2px solid #FFF; }}
#contact { border-bottom: 2px solid $pea-green; &:hover { border-bottom: 2px solid #FFF; }}
#linkedin { border-bottom: 2px solid $violet-magenta; &:hover { border-bottom: 2px solid #FFF; }}
#twitter { border-bottom: 2px solid $blue; &:hover { border-bottom: 2px solid #FFF; }}
#cv { border-bottom: 2px solid $yellow; &:hover { border-bottom: 2px solid #FFF; }}
#photos { border-bottom: 2px solid $red-orange; &:hover { border-bottom: 2px solid #FFF; }}
#blog { border-bottom: 2px solid $green-cyan; &:hover { border-bottom: 2px solid #FFF; }}
#upontheboard { border-bottom: 2px solid $magenta-red; &:hover { border-bottom: 2px solid #FFF; }}
#salttotaste { border-bottom: 2px solid $yellow-green; &:hover { border-bottom: 2px solid #FFF; }}

.tags {
  margin-top: 0.25em;
}
.article {
  margin: 2em 0;
  min-height: 600px;


  blockquote {
    font-size: 3em;
    line-height: 1.25em;
    color: #CCC;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 2.5em 0.5em 2.5em;
    font-style: italic;

    font-weight: 100;
    &:before {
      content: "\201C";
    }
    &:after {
      content: "\201D";
    }
  }
  .attribution {
    font-size: 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 2.5em 0.5em 2.5em;
    font-weight: 100;
    float:right;
    color: #CCC;

    &:before {
      content: "\2014";
    }
  }
}


// these need to go at the end so they are allowed to override

@media (max-width: 400px) {
  .bar-header {
    text-align: left;
    display:block;
  }
  .content {
    padding: 10px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .content {
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    padding: 30px;
  }
  .footer-box {
    width: 33%;
    float:left;
  }
}

@media (min-width: 1025px) {
  .content {
    padding: 3em;
    max-width: 1000px;
  }
  .footer-box {
    width: 33%;
    float:left;
  }
}
