<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!--
      Formatted for readability
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    {block:Description}<meta name="description" content="{MetaDescription}" />{/block:Description}
    <title>{Title}{block:SearchPage}: {lang:Search results for SearchQuery}{/block:SearchPage}{block:PostSummary}: {PostSummary}{/block:PostSummary}</title>
    <link rel="shortcut icon" href="http://kunalashah.com/favicon.ico">
    <link rel="alternate" type="application/rss+xml" href="{RSS}">
    <link href='http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://kunalashah.com/stylesheets/unsemantic-grid-responsive-tablet.css" type="text/css">
    <link rel="stylesheet" href="http://kunalashah.com/stylesheets/styles.css" type="text/css">
    <style type='text/css'>
     .actualquote {
          font-style:italic;
      }
      .quote .source {
          font-style:normal;
          font-weight:400;
          text-align:right;
      }
      .link .source {
          font-style:normal;
          font-weight:400;
          text-align:right;
      }
      .date {
          float:right;
          text-align:right;
          font-size:0.875em;
      }
      .postheader {
          padding:20px 20px 0 20px;
          margin:0 0 20px 0;
      }
      .text p {
        padding-bottom:10px;
      }
      .media {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden; 
      }
      .media iframe, .media object, .media embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31254254-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div id="container" class="grid-container grid-50 prefix-25 suffix-25 mobile-grid-90 mobile-prefix-5 mobile-suffix-5">

      <div class="box grid-parent" id="blog-title">
        <div class="content grid-100">
          <a href="/" alt="blog.kunalashah.com"><h1>{Title}</h1></a>
          {block:Description}
          <p id='subtitle'>
            {Description}
          </p>
          {/block:Description}
        </div>
      </div>

      <div class='box collapse grid-parent' id='contact'>
        <a href="mailto:me@kunalashah.com">
          <div class="grid-25 mobile-grid-50 shortbox" id='email'>email</div>
        </a>
        <a href="https://github.com/whistlerbrk">
          <div class="grid-25 mobile-grid-50 shortbox" id='github'>github</div>
        </a>
        <a href="http://www.linkedin.com/pub/kunal-shah/51/3a2/397">
          <div class="grid-25 mobile-grid-50 shortbox" id='linkedin'>linkedin</div>
        </a>
        <a href="https://twitter.com/whistlerbrk">
          <div class="grid-25 mobile-grid-50 shortbox" id='twitter'>@whistlerbrk</div>
        </a>
      </div>

      {block:SearchPage}
        <div class="grid-parent" id="blog-search">
          <div class="content grid-100 box search">
          <h2>{lang:Search}</h2>

            {block:SearchResults}
                {lang:SearchResultCount results for SearchQuery 2}.
            {/block:SearchResults}
            {block:NoSearchResults}
                {lang:No search results for SearchQuery 2}.
            {/block:NoSearchResults}
          </div>
        </div>
      {/block:SearchPage}

      {block:Posts}
        <div class="grid-parent" id="blog-content">

        {block:Text}
          <div class='box postheader'>
            {block:Date}<span class='date'>posted {DayOfWeek}, {Month} {DayOfMonth} {Year}</span>{/block:Date}    
            {block:Title}<h2><a href="{Permalink}">{Title}</a></h2>{/block:Title}
          </div>
          <div class="content grid-100 box text collapse">
            {Body}

            {block:NoteCount}<span class='notecount'><a href='{Permalink}'>{NoteCountWithLabel}</a></span>{/block:NoteCount}
            {block:PostNotes}
              <div>{PostNotes}</div>
            {/block:PostNotes}
          </div>
        {/block:Text}

        {block:Photo}
          <div class='box postheader'>
            {block:Date}<span class='date'>posted {DayOfWeek}, {Month} {DayOfMonth} {Year}</span>{/block:Date}    
          </div>
          <div class="content grid-100 box photo collapse">
            <img src="{PhotoURL-500}" width="100%" alt="{PhotoAlt}"/>
            {block:Caption}
              <div class="caption">{Caption}</div>
            {/block:Caption}
            {block:NoteCount}<span class='notecount'><a href='{Permalink}'>{NoteCountWithLabel}</a></span>{/block:NoteCount}
            {block:PostNotes}
              <div>{PostNotes}</div>
            {/block:PostNotes}
          </div>
        {/block:Photo}

        {block:Panorama}
          <div class='box postheader'>
            {block:Date}<span class='date'>posted {DayOfWeek}, {Month} {DayOfMonth} {Year}</span>{/block:Date}    
          </div>
          <div class="content grid-100 box panorama">
            {LinkOpenTag}
              <img src="{PhotoURL-Panorama}" alt="{PhotoAlt}"/>
            {LinkCloseTag}

            {block:Caption}
              <div class="caption">{Caption}</div>
            {/block:Caption}
            {block:NoteCount}<span class='notecount'><a href='{Permalink}'>{NoteCountWithLabel}</a></span>{/block:NoteCount}
            {block:PostNotes}
              <div>{PostNotes}</div>
            {/block:PostNotes}
          </div>
        {/block:Panorama}

        {block:Photoset}
          <div class='box postheader'>
            {block:Date}<span class='date'>posted {DayOfWeek}, {Month} {DayOfMonth} {Year}</span>{/block:Date}    
          </div>
          <div class="content grid-100 box photoset collapse">
            {Photoset-500}

            {block:Caption}
              <div class="caption">{Caption}</div>
            {/block:Caption}
            {block:NoteCount}<span class='notecount'><a href='{Permalink}'>{NoteCountWithLabel}</a></span>{/block:NoteCount}
            {block:PostNotes}
              <div>{PostNotes}</div>
            {/block:PostNotes}
          </div>
        {/block:Photoset}

        {block:Quote}
          <div class='box postheader'>
            {block:Date}<span class='date'>posted {DayOfWeek}, {Month} {DayOfMonth} {Year}</span>{/block:Date}    
          </div>
          <div class="content grid-100 box collapse quote {Length}">
            <span class='actualquote'>&quot;{Quote}&quot;</span>
            {block:Source}
              <div class="source">- {Source}</div>
            {/block:Source}
            {block:NoteCount}<span class='notecount'><a href='{Permalink}'>{NoteCountWithLabel}</a></span>{/block:NoteCount}
            {block:PostNotes}
              <div>{PostNotes}</div>
            {/block:PostNotes}
          </div>
        {/block:Quote}

        {block:Link}
          <div class='box postheader'>
            {block:Date}<span class='date'>posted {DayOfWeek}, {Month} {DayOfMonth} {Year}</span>{/block:Date}    
            <h2><a href="{ShortURL}">{Name}</a></h2>
          </div>
          <div class="content grid-100 box link collapse">
            {block:Description}
              <div class="description">{Description}</div>
            {/block:Description}

            <div class='source'>
                <a href="{URL}" class="link" {Target}>Go to link</a>
            </div>
            {block:NoteCount}<span class='notecount'><a href='{Permalink}'>{NoteCountWithLabel}</a></span>{/block:NoteCount}
            {block:PostNotes}
              <div>{PostNotes}</div>
            {/block:PostNotes}
          </div>
        {/block:Link}

        {block:Chat}
          <div class='box postheader'>
            {block:Date}<span class='date'>posted {DayOfWeek}, {Month} {DayOfMonth} {Year}</span>{/block:Date}    
            <h2><a href="{Permalink}">{Title}</a></h2>
          </div>
          <div class="content grid-100 box chat collapse">
            <ul class="chat">
              {block:Lines}
                <li class="{Alt} user_{UserNumber}">
                  {block:Label}
                    <span class="label">{Label}</span>
                  {/block:Label}

                  {Line}
                </li>
              {/block:Lines}
            </ul>
            {block:NoteCount}<span class='notecount'><a href='{Permalink}'>{NoteCountWithLabel}</a></span>{/block:NoteCount}
            {block:PostNotes}
              <div>{PostNotes}</div>
            {/block:PostNotes}
          </div>
        {/block:Chat}

        {block:Video}
          <div class='box postheader'>
            {block:Date}<span class='date'>posted {DayOfWeek}, {Month} {DayOfMonth} {Year}</span>{/block:Date}    
          </div>
          <div class="content grid-100 box video collapse">
            <div class='hide-on-mobile'>{Video-500}</div>
            <div class='media hide-on-desktop'>{Video-250}</div>        

            {block:Caption}
              <div class="caption">{Caption}</div>
            {/block:Caption}
            {block:NoteCount}<span class='notecount'><a href='{Permalink}'>{NoteCountWithLabel}</a></span>{/block:NoteCount}
            {block:PostNotes}
              <div>{PostNotes}</div>
            {/block:PostNotes}
          </div>
        {/block:Video}

        {block:Audio}
          <div class='box postheader'>
            {block:Date}<span class='date'>posted {DayOfWeek}, {Month} {DayOfMonth} {Year}</span>{/block:Date}    
          </div>
          <div class="content grid-100 box audio collapse">
            {AudioPlayerBlack}

            {block:Caption}
              <div class="caption">{Caption}</div>
            {/block:Caption}
            {block:NoteCount}<span class='notecount'><a href='{Permalink}'>{NoteCountWithLabel}</a></span>{/block:NoteCount}
            {block:PostNotes}
              <div>{PostNotes}</div>
            {/block:PostNotes}
          </div>
        {/block:Audio}

        </div>
      {/block:Posts}

    
      {block:IndexPage}
        <div class='grid-parent'>
        {block:Pagination}
          <div class="content grid-100 box navigation">
            {block:NextPage}<a href="{NextPage}" id="past">&laquo; {lang:To the past}</a>{/block:NextPage}
            <span id="page">{lang:Page CurrentPage of TotalPages}</span>
            {block:PreviousPage}<a href="{PreviousPage}" id="future">{lang:To the future} &raquo;</a>{/block:PreviousPage}
          </div>
        {/block:Pagination}
        </div>
      {/block:IndexPage}

    </div>
  </body>
</html>