<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!--
      Formatted for readability
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Kunal Shah</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/unsemantic-grid-responsive-tablet.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/styles.css" type="text/css">
  </head>
  <body>

    <div id="container" class="grid-container grid-80 prefix-10 suffix-10 mobile-grid-90 mobile-prefix-5 mobile-suffix-5">
      <div class="box grid-parent" id="title">
        <div class="content grid-100">
          <a href="/" alt="kunalashah.com"><h1>Kunal Shah</h1></a>
        </div>
      </div>

      <div class="grid-parent box collapse" id='contact'>
        <a href="mailto:me@kunalashah.com">
          <div class="grid-25 mobile-grid-50 shortbox" id='email'><h3>email</h3></div>
        </a>
        <a href="https://github.com/whistlerbrk">
          <div class="grid-25 mobile-grid-50 shortbox" id='github'><h3>github</h3></div>
        </a>
        <a href="http://www.linkedin.com/pub/kunal-shah/51/3a2/397">
          <div class="grid-25 mobile-grid-50 shortbox" id='linkedin'><h3>linkedin</h3></div>
        </a>
        <a href="https://twitter.com/whistlerbrk">
          <div class="grid-25 mobile-grid-50 shortbox" id='twitter'><h3>@whistlerbrk</h3></div>
        </a>
      </div>

      <div class="grid-parent box" id='experience'>
        <div class='grid-100 content boxtitle'>
        <h2>Select Experience</h2>
        </div>
        <dl class='grid-100 content'>
          <dt>Partner &amp; Lead Engineer, Corre Group</dt>
          <dd>
            <h4>SoHo June 2012 - Present</h4>
            <ul>
              <li>Migrating existing product&apos;s data provider</li>
              <li>Rebuilding user experience throughout the product</li>
            </ul>
          </dd>
          <dt>Head of Product, Urtak</dt>
          <dd>
            <h4>
              Union Square July 2011 - April 2012 (NYC TechStars 2011)
            </h4>
            <ul>
              <li>Architected and implemented statistics, visualizations and analytics</li>
              <li>Defining metrics and owning product marketing</li>
              <li>Defining and owning product roadmap</li>
            </ul>
          </dd>

          <dt>Systems Engineer, drop.io</dt>
          <dd>
            <h4>DUMBO February 2010 - November 2010 (acquired by facebook)</h4>
            <ul>
              <li>Worked with business, operations and engineering to develop and direct a product roadmap</li>
              <li>Created and owned processes surrounding infrastructure provisioning and deployment</li>
              <li>Developed deployment, branch management, code maintenance, testing, and quality strategies</li>
              <li>Production operations team member</li>
            </ul>
          </dd>

          <dt>Developer, Digital Pulp</dt>
          <dd>
            <h4>New York, NY July 2008 - December 2009</h4>
            <ul>
              <li>Developed, launched and maintained high traffic data driven content management systems</li>
              <li>Built a publishing platform to integrate a major trade magazine with the web</li>
              <li>Used cutting edge deployment, testing and source control tools</li>
              <li>Worked with and contributed back to open source projects</li>
              <li>Learned test / behavior driven development</li>
            </ul>
          </dd>

          <dt>Research Assistant, Protein Engineer</dt>
          <dd>
            <h4>Brooklyn, New York 2004-2006</h4>
            <ul>
              <li>Researched nanoscale drug delivery vehicles and copolymers for tissue engineering</li>
              <li>Routinely performed cloning, culturing, expression, purification, and spectroscopy</li>
              <li>Cloned a library of protein polymers for nanoscale drug encapsulation</li>
              <li>Performed kinetics and fluorescence studies to measure substrate binding and activity</li>
              <li>Work presented at the American Chemical Society National Conference</li>
            </ul>
          </dd>

          <dt>Webmaster and Creator of SidGames.com</dt>
          <dd>
            <h4>Warren, New Jersey 1998 - 2001</h4>
            <ul>
              <li>A seemingly very long time ago. How I got my start.</li>
              <li>Apparently there is still some record of this on the <a href="http://www.independent.co.uk/arts-entertainment/second-site-empire-building-1116712.html" target="_blank">web</a>.</li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="grid-parent box" id='projects'>
        <div class='grid-100 content boxtitle'>
        <h2>Select Projects</h2>
        </div>
        <dl class='grid-100 content'>
          <dt>The Colored Word</dt>
          <dd>
            <h4>2013 - Present</h4>
            <ul>
              <li>Explores breaking down complex discussion by separating areas of discord from areas of consensus</li>
              <li>Launching soon</li>
            </ul>
          </dd>

          <dt>Humble Suggestions</dt>
          <dd>
            <h4>2013</h4>
            <ul>
              <li>All the time shifting apps we&apos;ve seen recently beg the question: if not now, then when?</li>
              <li><em>I've taken this offline to concentrate on The Colored Word</em></li>
            </ul>
          </dd>

          <dt>Hashsassins</dt>
          <dd>
            <h4>January 2013</h4>
            <ul>
              <li>A twitter mediated game of <a href="http://en.wikipedia.org/wiki/Assassin_(game)">assassins</a> designed to promote interoffice networking.</li>
              <li>Launched when needed, porting to SMS. Available as <a href="https://github.com/whistlerbrk/hashsassins">open source</a>. <a href="mailto:me@kunalashah.com">Talk to me</a> about it.</li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="grid-parent box" id='proficiencies'>
        <div class='grid-100 content boxtitle'>
        <h2>Proficiencies</h2>
        </div>
        <dl class='grid-100 content'>
          <dt>Product Management &amp; Marketing</dt>
          <dd>
            <ul>
              <li>high level understanding of goals, requirements, measurement, and process</li>
              <li>user flows, experience, and interaction</li>
              <li>roadmap and team management</li>
              <li>funnels, retention, metrics, measurement</li>
              <li>release cycle, process development and iteration, quality improvement</li>
            </ul>
          </dd>

          <dt>Programming and Networking</dt>
          <dd>
            <ul>
              <li>Application Servers, Middleware &amp; Proxies: rack, unicorn, nginx, mongrel, thin, haproxy, apache</li>
              <li>Infrastructure &amp; Deployment: chef, cap, sinatra, sshd, zeromq, runit, god, cron</li>
              <li>Data Stores / Caches: postgres, mysql, redis, mongo, memcached</li>
              <li>Systems Administration: postfix, git, gitosis, rvm, homebrew, dpkg</li>
              <li>Languages: Ruby (ugo+rwx), Bash (ugo+rwx), PHP (u+rwx), Python (u+rx), C (u+rw), old Perl (u+rwx)</li>
              <li>Front End: HTML, CSS, JavaScript, Erb, HAML</li>
              <li>Frameworks: Rails, Sinatra, jQuery, underscore, d3</li>
              <li>Operations: various queue and job frameworks, Resque, EventMachine</li>
              <li>Back End: Data modeling, architecture, statistics, queueing</li>
           </ul>
          </dd>

          <dt>Biochemistry</dt>
          <dd>
            <ul>
              <li>Molecular cloning, PCR, expression, SDS-PAGE, purification, western blotting</li>
              <li>Spectroscopy, fluorescence, kinetics/binding studies</li>
              <li>Random and Site Directed Mutagenesis, protein design</li>
              <li>Literature and database search</li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="grid-parent box" id='education'>
        <div class='grid-100 content boxtitle'>
        <h2>Education &amp; Interests</h2>
        </div>
        <dl class='grid-100 content'>
          <dt>Polytechnic University (NYU-Poly)</dt>
          <dd>
            <ul>
              <li>Chemistry, Biomedical Sciences Concentration</li>
              <li>Simeon Gang Prize for Excellence in Biotechnology</li>
              <li>Gold Service Award, SGO VP</li>
            </ul>
          </dd>
          <dt>Hobbies &amp; Interests</dt>
          <dd>
            <ul>
              <li>Hiking/camping/backpacking, rock climbing, cycling, hockey</li>
              <li>Gardening, cooking, grilling, hydroponics, urban sustainability</li>
              <li>Film, music</li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </body>
</html>