<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!--
      Formatted for readability
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Kunal A Shah</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/unsemantic-grid-responsive-tablet.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/styles.css" type="text/css">
  </head>
  <body>

    <div id="container" class="grid-container grid-80 prefix-10 suffix-10 mobile-grid-90 mobile-prefix-5 mobile-suffix-5">

      <div class="box grid-parent" id="title">
        <a href="/" alt="kunalashah.com"><div class="grid-100 tiledbox"><h1>Kunal A Shah</h1></div></a>
      </div>

      <div class="grid-parent box" id='contact'>
        <h2 class="tiledbox grid-20 mobile-grid-100">contact</h2>
        <a href="mailto:me@kunalashah.com">
          <div class="grid-20 mobile-grid-50 tiledbox" id='email'><h3>email</h3></div>
        </a>
        <a href="https://github.com/whistlerbrk">
          <div class="grid-20 mobile-grid-50 tiledbox" id='github'><h3>github</h3></div>
        </a>
        <a href="https://facebook.com/whistler.brk">
          <div class="grid-10 mobile-grid-50 tiledbox" id='facebook'>facebook</div>
        </a>
        <a href="http://www.linkedin.com/pub/kunal-shah/51/3a2/397">
          <div class="grid-10 hide-on-mobile tiledbox" id='linkedin'>linkedin</div>
        </a>
        <a href="https://twitter.com/whistlerbrk">
          <div class="grid-20 mobile-grid-50 tiledbox" id='twitter'>@whistlerbrk</div>
        </a>
      </div>

      <div class="grid-parent box" id='projects'>
        <div class="tiledbox grid-20 mobile-grid-100"><h2>projects</h2></div>
        <a href="http://thecoloredword.com/">
          <div class="grid-20 mobile-grid-100 tiledbox" id='coloredword'><h3>the colored word</h3></div>
        </a>
        <a href="http://ricochet.kunalashah.com/">
          <div class="grid-40 mobile-grid-100 tiledbox" id='humblesuggestions'><h3>humble suggestions</h3></div>
        </a>
        <div class="grid-20 mobile-grid-100 tiledbox" id='upontheboard'><h3>up on the board</h3></div>
      </div>

      <div class="grid-parent box" id='links'>
        <div class="grid-20 mobile-grid-100 tiledbox"><h2>links</h2></div>
        <a href="/cv">
          <div class="grid-40 mobile-grid-100 tiledbox" id='cv'><h3>curriculum vitae</h3></div>
        </a>
        <a href="http://blog.kunalashah.com">
          <div class="grid-40 mobile-grid-100 tiledbox" id='blog'><h3>blog</h3></div>
        </a>
      </div>

    </div>
  </body>
</html>