<% @title = current_article.title %>

<% 
  image_lead_path     = get_image_lead(current_article)
  article_description = generate_description(current_article.summary)

  set_meta_tags({
    "description"       => article_description,
    "og:description"    => article_description,
    "keywords"          => current_article.tags.join(', '),
    "twitter:creator"   => '@whistlerbrk',
    "twitter:image:src" => image_lead_path,
    "og:image"          => image_lead_path
  })
%>

<% wrap_layout :page do %>
  <div id='content'>
    <h2><%= current_article.title %> <span><%= current_article.date.strftime('%B %e, %Y') %></span></h2>
    <%- if current_article.tags.any? %>
    <div class='tags'>
      in <%= current_article.tags.map{ |tag| link_to tag, tag_path(tag) }.join(', ') %>
    </div>
    <%- end %>
    <div class='article'>
      <%= yield %>
    </div>
  </div>
<% end %>
