<% wrap_layout :layout do %>
  <div id='header'>
    <div id='banner'>
      <a href="/" alt="www.kunalashah.com" id='home'>Kunal Shah</a>
    </div>
    <navigation>
      <div class='navbox'><a href="/about">about</a></div>
      <div class='navbox'><a href="/cv">cv</a></div>
      <div class='navbox'><a href="/contact">contact</a></div>
      <div class='navbox'><a href="/blog">blog</a></div>
    </navigation>
  </div>
  <%= yield %>
<% end %>
