<% wrap_layout :layout do %>
  <div id='header'>
    <div id='banner'>
      <a href="/" alt="kunalashah.com" id='home'><h1>Kunal Shah</h1></a>
    </div>
    <navigation>
      <div class='navbox' id='blog-nav-link'><a href="/blog">blog</a></div>
      <div class='navbox' id='cv-nav-link'><a href="/cv">cv</a></div>
      <div class='navbox' id='contact-nav-link'><a href="/contact">contact</a></div>
    </navigation>
  </div>
  <%= yield %>
<% end %>
