body {
  margin:0;
  padding:0;
  color:#FFF;
  font-size:13px;
  font-family:"Muli", "Helvetica Neue",Arial,sans-serif;
  font-weight:300;
  background:#000 url('../images/greatwave.jpg') 0 0 no-repeat;
  line-height:17px;
}

div,ul,li,p,dd,dt,dl,h1,h2,h3,h4 {
  font-size:1em;
  font-style:normal;
  font-weight:300;
  margin:0;
  padding:0;
  list-style-type:none;
  background-repeat:no-repeat;
  background-position:0 0;
}

a, a:visited{text-decoration:none; color:#FFF;}
a:hover{text-decoration:underline; color:#FFF;}

.box {
  background-color: rgba(0,0,0, 0.7);
  overflow:hidden;
  margin:20px 0;
}

.collapse {
  margin:-20px 0 20px 0;
}

.tiledbox {
  float:left;
  padding:20px;
  line-height:50px;
  text-align: center;
  height:100%;
}

.boxtitle {
  padding:2em 2em 0 2em;
}
.content {
  padding:2em;
}

.shortbox {
  padding:0.5em;
  line-height:1em;
  float:left;
  text-align: center;
  height:100%;
}

#title {
  text-align: center;
}

#subtitle {
  margin-top:1em;
  font-size:1.25em;
  font-weight:300;
  color:#CCC;
}

h1{
  color:#EEE;
  font-size:2.5em;
  line-height: 1em;
  font-weight:300;
  float:left;
}

h2 {
  color:#DDD;
  font-size:1.75em;
  font-weight:300;
}

h3,dt{
  color:#DDD;
  font-size:1.375em;
  font-weight:300;
}
h4 {
  font-weight:400;
}

p {
  line-height:21px;
}

dd ul {
  margin:5px 0;
}

li{
 margin:0 0 0.5em 0; 
}

dd {
  margin:0 0 2em 0.75em;
}
dd:last-child {
  margin:0 0 0 0.75em;
}

dt {
  margin:0 0 0.5em 0;
}

#facebook           { background-color: rgba(59, 89, 182, 0.4);   }
#twitter            { background-color: rgba(64, 153, 255, 0.4);  }
#email              { background-color: rgba(216, 74, 56, 0.4);   }
#linkedin           { background-color: rgba(200, 200, 200, 0.4); }
#coloredword        { background-color: rgba(0, 194, 53, 0.4);    }
#humblesuggestions  { background-color: rgba(160, 99, 121, 0.5);  }
#upontheboard       { background-color: rgba(246, 95, 82, 0.4);   }
#github             { background-color: rgba(0, 152, 213, 0.4);   }
#cv                 { background-color: rgba(0, 152, 213, 0.4);   }
#blog               { background-color: rgba(40, 88, 69, 0.4);    }
#location           { background-color: rgba(0, 152, 213, 0.4);   }


#experience .boxtitle { background-color: rgba(0,0,0, 0.5); }
#projects .boxtitle { background-color: rgba(0, 152, 213, 0.4);   }
#proficiencies .boxtitle { background-color: rgba(216, 74, 56, 0.4); } 
#education .boxtitle { background-color: rgba(160, 99, 121, 0.5); }
