---
title: 'Graffiti'
date: '2011-06-14'
tags:
- art
---

<img src="http://kunalashokshahwp.files.wordpress.com/2011/06/tumblr_lmptsvhyof1qz4ufyo1_1280.jpg" alt="" width="750" height="1000" class="alignnone size-full wp-image-97" /><p><a href="http://links.laughingsquid.com/post/6503926206">laughingsquid</a>:</p>
<blockquote>
<p><a href="http://oaktownart.com/2010/05/03/if-you-want-to-achieve-greatness-stop-asking-for-permission/">If You Want To Achieve Greatness, Stop Asking For Permission</a></p>
</blockquote>
