---
title: 'Slow Dance... Live'
date: '2011-10-11'
tags:
- music
- soul
---

<iframe width="560" height="315" src="http://www.youtube.com/embed/6jkfVBTNdDM" frameborder="0" allowfullscreen></iframe>
<p>Have I not added this before?!</p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
