---
title: 'Only the Lonely'
date: '2011-12-14'
tags:
- music
---

<iframe width="560" height="315" src="https://www.youtube.com/watch?v=ysmN7dsheE8" frameborder="0" allowfullscreen></iframe>

<p>I like the harmonizing at the top of this better than the recorded version(s)</p>
