---
title: 'Cien Dias de Vengaza : Prologue'
date: '2011-05-26'
tags:
- inside jokes
---

<p><em>Today I bring to you Part 1, The Prologue of the much anticipated short story &#8220;Cien Dias de Vengaza&#8221; (One Hundred Days of Vengeance). This true story takes place 9 months in the future in Guatemala and features Eddie Mayas as its central character.</em></p>
<p><span> </span>He awoke slowly and with an odd peace over his body, yet something didn&#8217;t feel right. This was cold hard ground, not a bed and the sweet morning smell of dew was polluted with something familiar, yet unnatural. Just like a spiders intrinsic knowledge of web-building or a dogs ability to swim, Eddie Mayas recognized the smell of flesh. Human flesh. Burning.</p>
<p><span> </span>Ed sat up quickly as his senses arrayed about him. Charred bodies, embers of buildings, piling ash, the chaos of several hours past. Why couldn&#8217;t he remember? What was that ringing in his ear? He stood and caught his balance. Dried blood on his legs. Shrapnel. The memories came rushing into him like water breaching a levee. A grenade had taken his hearing and brought him to the ground. There was fighting before, but only on one side. The trucks, the jeeps, the men in uniforms. The people in the village had pleaded with them in Spanish, begged them. They hadn&#8217;t come for anything though or anyone in particular. But he did remember the girls, them, they took.</p>
<p><span> </span>Stumbling now with the metallic sound waning and the crackles of burning wood growing louder he looked over the bodies for his friends. And they were there, everywhere, littered around him with the wreckless abandon of a child&#8217;s toys. These animals had no respect to bury their victims. Yet, that same lack may very well have saved him, he reasoned.</p>
<p><span> </span>The village of Tzalbal lay north west of large lake in the Petan region of Guatemala. It was quiet, small, and days away from anything that the rest of the western hemisphere regarded as civilization. Tzalbal was untouched and perfect, now it was burning. He sifted endlessly through corpses, recognizing each one, each friend. Which part of humanity dislikes that which rightfully claims to be untainted? What behavior rooted within our cells and passed on through our DNA codes for discord? Why did harmony strike such offense with nature? Deep in his belly, his feelings overcame him. But neither the tears, nor the hysterical laughter would come then. A creak from a hinge on the barn door focused him, and Eddie looked up as a young girl cautiously emerged. Her too, he recognized.</p>
<p><em>Stay tuned for Chapter 1 of &#8220;Cien Dias de Vengaza&#8221;</em></p>
