---
title: 'Missing 3'
date: '2011-09-01'
tags:
- missing
---

This post was lost when I switched my blog over from tumblr. Placeholder here until I recover the content.

<p>I didn&#8217;t draw the sampling connection on this for far too long :)</p>
