---
title: 'Hey DJ'
date: '2011-05-31'
tags:
- music
---

<iframe width="560" height="315" src="http://www.youtube.com/embed/FHMVkqCKknc" frameborder="0" allowfullscreen></iframe>
<p>Sampled by Mariah Carey for &#8220;Honey&#8221;, also still a great video. For all those fashion sites that are doing the &#8220;one girl, four outfits&#8221; thing, that vid is all you need :-p </p>
<p><a href="http://www.youtube.com/watch?v=w3KOowB4k_k">http://www.youtube.com/watch?v=w3KOowB4k_k</a></p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
