---
title: 'The Miami Sound'
date: '2011-06-08'
tags:
- music
---

[youtube http://www.youtube.com/watch?v=xfsffF3dwrw?feature=oembed&w=500&h=374]
<p>I Get Lifted. Gwen / George McCrae.</p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
