---
title: Is passive aggression generational or classist?
date: '2012-11-19'
tags:
- thoughts
---

<p><em>I&#8217;m trying to break up a bunch of larger posts into smaller chunks in the hopes of just getting them out the door.</em> <em>This is rough and largely unedited.</em></p>
<p>I&#8217;m at the gym a month ago on one of the chest exercise machines. I see a guy, younger than me, from across the gym evil-eyeing me. He then turns to a girl on another machine says something to her and suddenly I&#8217;ve incurred both of their wraths. I really try not to offend people in my daily life and when conflict arises given the choice between: my fault, their fault, and somewhere in between / misunderstanding I usually go for <em>my fault</em>. I&#8217;m not saying this is a great way to live. So the reason I quickly come up with to explain his annoyance is: I&#8217;ve been on this machine too long / I&#8217;m taking too long in between sets.</p>
<p>I&#8217;m aware of the fact that gyms, especially ones belonging to small art colleges, have limited and shared resources. What should happen:</p>

<blockquote>
<p><em>Hey, can we trade sets?</em> - Guy</p>
</blockquote>

<blockquote>
<p>Of course, no problem. - Me</p>
</blockquote>

<p>I tried to tell this person, &#8220;hey, if I&#8217;m taking too long on a machine or in between sets. Just let me know, or ask if we can trade on and off. No worries&#8221;, but I could not find them by then.</p>
<p>And this, of course, is the crux of the (modern?) problem. Why can&#8217;t we talk to each other any more (says the guy posting on tumblr)? I truly do not believe that the older generation was like this, or maybe being direct is something that just comes with age and I too am at that transition point. The man in question here was likely a freshman/sophomore undergrad.</p>
<p>I&#8217;d like to believe that this is the case, that with age comes straightforwardness. But my gut feeling here says that while that may be true, it is only at best partially true. The unfortunate trend is that we as a society are so socially risk averse we can&#8217;t bear to be direct. Avoidance and escapism seems preferable to aggression and directness.</p>
<p>My only other thought before I leave the topic alone is in the title. Is this a behaviour that varies with by class? I&#8217;ve been fortunate to work and volunteer with EMTs, firefighters, former marines, sailors, longshoreman, trucker drivers, farmers, etc. Blue collar people. The thing I&#8217;ve always admired about them is how plainspoken and blunt they were to me. I will say at first I was put off by it, but only because I didn&#8217;t realize they spoke this way out of respect and honesty.</p>
