---
title: The Way We Teach Chemistry
date: '2012-04-12'
tags:
- thoughts
- tbd
published: false
---

<p>In times of transition some of the old questions get stirred up. I don&#8217;t mean anything overly dramatic by this except to say people are often surprised to hear details of your background. I like many people my age did not learn how to code from a textbook. We learned from trial, error, example, necessity and application.</p>
<p>When I went to college, however, I decided I was going to study something I was truly... TBD</p>
