---
title: Evolution
date: '2012-11-15'
tags:
- thoughts
---

<p>When people say that a species &#8220;evolved in order to &#8230;&#8221; it should be clear that they do not understand evolution.</p>
<p>Evolution is not a self directed process. It is orchestrated by chance, then circumstance, and finally time.</p>
