---
title: 'Winehouse'
date: '2012-04-25'
tags:
- music
- soul
- jazz
---

<iframe width="560" height="315" src="http://www.youtube.com/embed/bN_sWf7g9OE" frameborder="0" allowfullscreen></iframe>
<p>My favorite recorded version of this is on the Back to Black B-Sides. The slowed down tempo featured was the original tempo for the song. The album&#8217;s producers requested a faster version presumably to match the pace of other songs on the album.</p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
