---
title: 'Sweet Stuff'
date: '2012-01-03'
tags:
- music
- funk
---

<iframe width="560" height="315" src="http://www.youtube.com/embed/4CT0iDjqLhc" frameborder="0" allowfullscreen></iframe>
<p>Superfunk bass line</p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
