---
title: 'Ken Jennings'
date: '2013-04-05'
tags:
- philosophy
- culture
---

[youtube http://www.youtube.com/watch?v=DxBVxglKOVw?feature=oembed&w=500&h=281]
<p><em>I feel like our civilization works when this is a vast cultural heritage that we all share and that we know without having to outsource it to our devices, to our search engines and our smartphones&#8230; I feel like we&#8217;re sort of at the point now where we need to make that choice of what kind of future we want to be living in.</em></p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
