---
title: 'Nessmuk'
date: '2013-02-21'
tags:
- hiking
---

<blockquote class='long'><p>WITH a large majority of prospective tourists and outers, &#8220;camping out&#8221; is a leading factor in the summer vacation. And during the long winter months they are prone to collect in little knots and talk much of camps, fishing, hunting, and &#8221;roughing it.&#8221;</p>

<p>The last phrase is very popular and always cropping out in the talks on matters pertaining to a vacation in the woods. I dislike the phrase. We do not go to the green woods and crystal waters to rough it, we go to smooth it. We get it rough enough at home; in towns and cities; in shops, offices, stores, banks anywhere that<br />
we may be placed—with the necessity always present of being on time and up to our work; of providing for the dependent ones; of keeping up, catching up, or getting left.. </p>

<p>"Alas for the life­long battle, whose bravest slogan is bread."</p></blockquote>

<div class='attribution'>Nessmuk, <a href="http://www.bushcraftuk.com/downloads/pdf/woodcraft-and-camping.pdf"><em>Woodcraft and Camping</em></a></div>
