---
title: 'The future... is murder'
date: '2013-05-13'
tags:
- music
---

<iframe width="560" height="315" src="http://www.youtube.com/embed/_drEFOaPaK8" frameborder="0" allowfullscreen></iframe>
<p>Leonard Cohen&#8217;s, &#8220;The Future&#8221; Live on Jools Holland.</p>
<p>My friend&#8217;s dad dropped a reference to this song to my shock which has got me listening to Cohen again.</p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
