---
title: Why Dove's "Real Beauty Sketches" Video Makes Me Uncomfortable... and Kind
  of Makes Me Angry
date: '2013-04-19'
tags:
- crossposts
---

<p><a class="tumblr_blog" href="http://jazzylittledrops.tumblr.com/post/48118645174/why-doves-real-beauty-sketches-video-makes-me">jazzylittledrops</a>:</p>
<p>So <a href="http://www.youtube.com/watch?v=litXW91UauE">this</a> video started going around my facebook today, with about a dozen of my female friends sharing the link with comments like, and “Everyone needs to see this”, and “All girls should watch this,” and “This made me cry.” And I’m not trying to shame those girls! I definitely understand why they would do so. And I don’t want to be a killjoy. But as I clicked the link and started watching the video, I started to feel a slight sense of discomfort. I couldn’t put my finger on why that was, exactly, but it continued throughout the whole thing. After watching the video several more times, <strong>I have some thoughts…</strong> </p>

<p><a href="http://jazzylittledrops.tumblr.com/post/48118645174/why-doves-real-beauty-sketches-video-makes-me">Read More</a></p>
<p>Something about that campaign struck me as odd as well, and the author here does a good job breaking down the grey area since it isn&#8217;t all bad or good.</p>
