---
title: 'Declaration of Independence : while evils are sufferable'
date: '2013-10-30'
tags:
- history
- culture
---

<p>This is Part 2 in <i>after the ellipsis</i>.</p>

<p>The well known words of the Declaration of Independence read:</p>

<blockquote><p>We hold these truths to be self-evident, that all men are created equal, that they are endowed by their Creator with certain unalienable Rights, that among these are Life, Liberty and the pursuit of Happiness.</p></blockquote>

<p>And the lesser known corollary follows:</p>

<blockquote>
<p>
That to secure these rights, Governments are instituted among Men, deriving their just powers from the consent of the governed, &#8212;That whenever any Form of Government becomes destructive of these ends, it is the Right of the People to alter or to abolish it, and to institute new Government, laying its foundation on such principles and organizing its powers in such form, as to them shall seem most likely to effect their Safety and Happiness. Prudence, indeed, will dictate that Governments long established should not be changed for light and transient causes; and accordingly all experience hath shewn, that mankind are more disposed to suffer, while evils are sufferable, than to right themselves by abolishing the forms to which they are accustomed. But when a long train of abuses and usurpations, pursuing invariably the same Object evinces a design to reduce them under absolute Despotism, it is their right, it is their duty, to throw off such Government, and to provide new Guards for their future security.
</p>
</blockquote>

<p>The power of government flows from the people who have the right to overthrow it if it becomes destructive to their unalienable (can not be taken away) rights.</p>

<p>I find today most relevant the line of how people act when evils are sufferable. I&#8217;m not a revolutionary so take this with a grain of salt. People in charge of any organization are aware of this. They know to keep things as close to that cusp but not over it as possible. They know that the point between sufferable and insufferable is the point between inaction and action. This means what it has always meant - the people are placated until they put down their pitch forks but nothing really changes.</p>
