---
title: Asteroid Mining with Peter Diamandis
date: '2013-05-23'
tags:
- technology
---

<p><a href="https://soundcloud.com/startalk/eureka-asteroid-mining">Great podcast</a>. Chuck Nice co-hosts, hilarious, informative. Everything you want.</p>
