---
title: 'No Trespassing : This Land is My Land'
date: '2013-10-24'
tags:
- culture
- music
- folk
- country
---

<p>This is Part 1 in a series I am calling <i>after the ellipsis</i>.</p>

<p>I&#8217;d recently watched the <a href="http://www.imdb.com/title/tt1558250/" target="_blank">GasLand</a> documentary. It was scary and a bit over dramatic and all in all is the type of stuff which makes people further entrenched in their positions right or wrong. This post isn&#8217;t about the documentary, however.</p>

<p>Early in the film Josh Fox plays a clip of Woody Guthrie&#8217;s <i>This Land is Your Land</i>, which if you grew up in America you are certainly familiar with. I distinctly remember singing this tune in school growing up but I struggled to remember the end of the song. I think it is because in all likelihood I (and probably you) were never taught it.</p>

<blockquote>
<p>
This land is your land This land is my land<br />
From California to the New York island; <br />
From the red wood forest to the Gulf Stream waters <br />
This land was made for you and Me.
</p>
<p>
As I was walking that ribbon of highway, <br />
I saw above me that endless skyway: <br />
I saw below me that golden valley: <br />
This land was made for you and me.
</p>
</blockquote>

<p>Familiar so far, correct?</p>

<blockquote>
<p>
I&#8217;ve roamed and rambled and I followed my footsteps <br />
To the sparkling sands of her diamond deserts; <br />
And all around me a voice was sounding: <br />
This land was made for you and me.
</p>

<p>
When the sun came shining, and I was strolling, <br />
And the wheat fields waving and the dust clouds rolling, <br />
As the fog was lifting a voice was chanting: <br />
This land was made for you and me.
</p>

<p>
As I went walking I saw a sign there <br />
And on the sign it said &#8220;No Trespassing.&#8221; <br />
But on the other side it didn&#8217;t say nothing, <br />
That side was made for you and me.
</p></blockquote>


<p>Perhaps the above and the rest are excluded as they are undoubtedly more difficult to sing. But it should be noted how difficult it is to find a version of this song with the full lyrics after this point. Please email if you do. The song takes a darker depression era turn from here:</p>

<blockquote>
<p>
In the shadow of the steeple I saw my people, <br />
By the relief office I seen my people; <br />
As they stood there hungry, I stood there asking <br />
Is this land made for you and me?
</p>

<p>
Nobody living can ever stop me, <br />
As I go walking that freedom highway; <br />
Nobody living can ever make me turn back <br />
This land was made for you and me.
</p>
</blockquote>
