---
title: The Three Kinds of Laziness
date: '2013-05-20'
tags:
- crossposts
---

<a href="http://sub.garrytan.com/the-three-kinds-of-laziness">via Garry Tan&#8217;s blog</a>
<p>
We speak of three kinds of laziness. The first is simply to spend all your time eating and sleeping. The second is to tell yourself, &#8220;Someone like me will never manage to perfect themselves.&#8221; In the Buddhist context, such laziness makes you feel that it&#8217;s pointless even trying, you&#8217;ll never attain any spiritual realization. Discouragement makes you prefer not even to begin making any effort. And the third kind&#8230; is to waste your life on tasks of secondary importance, without ever getting down to what&#8217;s most essential. You spend all your time trying to resolve minor problems, one after another in an endless sequence, like ripples on the surface of a lake. You tell yourself that once you&#8217;ve finished this or that project you&#8217;ll start giving some meaning to your life. 
</p>
<p>
&#8230;
The antidote to the first kind of laziness— only wanting to eat and sleep— is to reflect on death and the impermanent nature of everything. We never know when we&#8217;re going to die or what circumstances are going to lead to our death. So there isn&#8217;t a moment to lose in getting down to what&#8217;s really essential. The antidote to the second kind of laziness — feeling too discouraged to commit ourselves to spiritual practice—is to reflect on the benefits that such inner transformation will bring. The antidote to the third kind—attending to details rather than to the essentials—is to realize that the only way to get to the end of our endless projects is to drop them, and then turn to what gives life its meaning without waiting any longer. Life is short, and if we want to develop our inner qualities it&#8217;s never too soon to start getting down to it. 
</p>
—Matthieu Ricard, Buddhist Monk and Molecular Biology PhD, in his book of conversations with his philosopher father, &#8220;<a href="http://www.amazon.com/Monk-Philosopher-Father-Discuss-Meaning/dp/0805211039">The Monk and the Philosopher</a>&#8221;
