---
title: The "Uneducated"
date: '2013-07-17'
tags:
- philosophy
- thoughts
---

<p>I regretfully read an internet comment which stated that amongst other other unsavory traits, employees of a certain chain were &#8220;uneducated&#8221;. The phrase in and of itself does not bother me but when combined into a list stood out to me.</p>

<p>I think it is important to remember that being uneducated is largely not a choice but a circumstance. We know this, but for review: If you have access to education and fail to become educated it is far more likely you have other pressing needs which come before education (family, shelter, food, clothing). Being on either side of that needs threshold also means the education you have access to is lower quality.</p>

<p>But the second portion is just as critical; a tradition of demonstrated value of education is essential. Why you should engage in learning is a lesson that can only be taught person-to-person and in most cases parent-to-child. </p>

<p>Don&#8217;t laundry list a person&#8217;s lack of education as a reason to dislike them. It is likely not their fault and compassion is required.</p>

<p>Part 1 on Learning</p>
