---
title: ITP Spring Show is May 20th
date: '2013-05-10'
tags:
- events
---

<p>If you&#8217;ve never been it&#8217;s going to be a mix of ludicrous, silly, mildly entertaining but ultimately dismissible, and an occasional diamond in the rough.</p>
<p><a href="http://itp.nyu.edu/shows/spring2013/">For more information</a></p>
