---
title: The Illustrated Guide to Criminal Law
date: '2013-03-09'
tags:
- crossposts
---

<p>
  <a class="tumblr_blog" href="http://thecriminallawyer.tumblr.com/post/29326904495/16-a-problems">
    thecriminallawyer
  </a>:
</p>
<p>
  <img alt="image" src="http://media.tumblr.com/tumblr_m8ops0m9rS1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8opsbipvO1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8opsoI2fD1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8opt4UwEe1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8optmEEnv1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8opu2asEo1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8opukrTV91r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8opuw4DXD1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8opvd78fh1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8opvwbNa11r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8opwgmiXL1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8opwvJpYW1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8opx8UaKa1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8opxqgYK81r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8opy7wcSk1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8opyjq6no1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8opyyVYHt1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8oq0eym2l1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8oq0vWCoc1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8oq17092N1r3ynm3.png" />
  <img alt="image" src="http://media.tumblr.com/tumblr_m8oq1o4fvp1r3ynm3.png" />
</p>
<p>
  CONTINUED IN PART 16 B, which goes over the history of how we got here, and maybe even offers some solutions.
</p>
