---
title: 'What kind of Asian are you?'
date: '2013-05-28'
tags:
- race
- thoughts
---

<iframe width="560" height="315" src="http://www.youtube.com/embed/DWynJkN5HbQ" frameborder="0" allowfullscreen></iframe>
<p>"What kind of Asian are you?". via AngryAsianMan.com which writes, "painfully familiar". Indeed.</p>

<p>Part 1 in a series on race.</p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
