---
title: 'Look at Miss Ohio'
date: '2013-05-22'
tags:
- music
- country
---

<iframe width="560" height="315" src="http://www.youtube.com/embed/9NPEj63d0jY" frameborder="0" allowfullscreen></iframe>
<p>David Rawlings and Gillian Welch, live, <span>"Look At Miss Ohio"</span></p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
