---
title: 'Rave On'
date: '2013-03-01'
tags:
- music
---

<iframe width="560" height="315" src="http://www.youtube.com/embed/C4DK4_TMgnk" frameborder="0" allowfullscreen></iframe>
<p>M. Ward&#8217;s cover of Buddy Holly&#8217;s &#8220;Rave On&#8221;</p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
