---
title: 'Missing 6'
date: '2013-05-10'
tags:
- music
- missing
---


<p>If you haven&#8217;t yet seen the 60 Minutes interview with Adele, take the 15 minutes. Even if you only like that one song you can&#8217;t help absolutely falling head over heels for this brilliant woman.</p>
