---
title: 'Eddie Huang'
date: '2013-05-30'
tags:
- race
---

<blockquote class='long'>To this day, I wake up at times, look in the mirror, and just stare, obsessed with the idea that the person I am in my head is something entirely different than what everyone else sees. That the way I look will prevent me from doing the things I want; that there really are sneetches with stars and I’m not one of them. I touch my face, I feel my skin, I check my color every day, and I swear it all feels right. But then someone says something and that sense of security and identity is gone before I know it.</blockquote>

<div class='attribution'><p>from Eddie Huang&#8217;s <span style="text-decoration:underline;">Fresh off the Boat</span>. </p>

<p>Eddie Huang is the owner and chef of Baohaus on 2nd Avenue and 14th St in NYC.</p>

<p>This is part 2 on a series about race.</p></div>
