---
title: Friendship & Oreo Cookies
date: '2013-06-03'
tags:
- race
---

<p>I recently fell out of friendship with a person I&#8217;ve known for a fair bit of time, and I&#8217;m okay with that. I had a middle school history teacher who once told our class, &#8220;you don&#8217;t have friends now, you have acquaintances. In your life you&#8217;ll be lucky to have 3 or 4 real friends.&#8221; He was well positioned, I supposed, as a history teacher to offer up that thought and it has stuck with me well to this day, clearly.</p>

<p>Regardless I haven&#8217;t felt great about that until recently. It takes me an undue amount of time to quantify my feelings on personal matters. Now that I have taken the time to look back on this individual I can say that it wasn&#8217;t one thing in particular which ended our friendship but perhaps unsurprisingly a collection of them.</p>

<p>This is part 3 on a series about race which I began last Tuesday. For this post I&#8217;ll just focus on what&#8217;s related to the series. Perhaps in the future I&#8217;ll write deeper on friendship.</p>

<p>When around and speaking to a group of friends this person would occasionally say back to me, in a seemingly innocuous way, something to the effect of, &#8220;you&#8217;re so white!&#8221; Tee hee. Great. It&#8217;s the sort of comment that others in the room didn&#8217;t even notice and I, who genuinely likes to avoid a scene, didn&#8217;t make a fuss over it. The implication however, remains: I said or did something inconsistent with someone&#8217;s stereotype of how I should act as a brown person.</p>

<p>People need to think much more deeply on the characteristics they ascribe others. If you do yoga and are not south asian I don&#8217;t think the common assumption is you are in any way a race traitor. Indeed, before the rise of the popularity of yoga you would have more likely been described as an explorer. Today you&#8217;re just healthy for practicing it and no one thinks twice.</p>

<p>Now reverse the situation. Look at a first generation child growing up - they in fact have no choice but to be explorers and accept what they see as normal. There is no frame of reference that a parent can impart so strong to override the constant bombardment of outside culture from school, TV, and friends (or acquaintances apparently). Suppose this child likes rap, or french food, or baseball. I trust that no one reading this could possibly want to be the person to say, &#8220;No, you shouldn&#8217;t like that. It&#8217;s weird that you do, that isn&#8217;t who you are suppose to be according to me.&#8221;</p>

<p>This post and series originally came about from reading this highly relevant <a href="http://www.buzzfeed.com/hnigatu/27-things-you-had-to-deal-with-as-the-only-black-kid-in-your">BuzzFeed article here</a>. The oreo cookie comment in particular.</p>
