---
title: 'The Fog of War'
date: '2013-10-09'
tags:
- documentaries
- film
---
<iframe width="560" height="315" src="//www.youtube.com/embed/nwXF6UdkeI4" frameborder="0" allowfullscreen></iframe>
<p>The Fog of War - Eleven Lessons from the life of Robert S. McNamara, easily my favorite documentary. An important film. Came up in conversation yesterday and decided to post&#8230;. Edit: updated the youtube link, in case it goes down again the <a href="http://www.imdb.com/title/tt0317910/">IMDB is here</a>.</p>
