---
title: Small Town Talk
date: 2014-12-20 23:39 UTC
tags: music
---

<iframe width="420" height="315" src="//www.youtube.com/embed/5gjyOdeidTc" frameborder="0" allowfullscreen></iframe>
<p>Bobby Charles said seeing Fats Domino play at the age 15 "changed his life". Very telling as you listen to his music. He's a Cajun from Louisiana and the funk sounds he uses somehow feel appropriate to the background.</p>
