---
title: 'Gardel'
date: '2014-04-15'
tags:
- music
- film
- quotes
---

<iframe width="560" height="315" src="http://www.youtube.com/embed/fWRzQBwPT" frameborder="0" allowfullscreen></iframe>
<p>A Tango for Tuesday.</p>
<p>Por Una Cabeza - Carlos Gardel, John Williams conducting, Itzhak Perlman violin solo</p>
<p>From the interview at the top of the video: <br /></p>

<blockquote>On many occasions some of the most famous virtuouso musicians in the world have performed for Hollywood. Heifetz, Isaac Stern, Richard Ellman (sp). Tell me about some of these great musicians who have degraded themselves, <i>they thought</i>, by taking Hollywood&#8217;s money?&#8221;</blockquote>
<div class='attribution'>Gene Shalit</div>

<div>and agreeably,</div>

<blockquote>Thereby reaching billions of people&#8230;</blockquote>
<div class='attribution'>John Williams</div>
