---
title: 'Smoothness'
date: '2014-04-14'
tags:
- music
- soul
- jazz
---

<iframe width="560" height="315" src="http://www.youtube.com/embed/lmMsyn10ZYg" frameborder="0" allowfullscreen></iframe>
<p>The original smoothness of &#8220;Mister Magic&#8221;, Grover Washington Jr.</p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
