---
title: 'St. James Infirmary'
date: '2014-08-28'
tags:
- music
- blues
---

<iframe width="560" height="315" src="http://www.youtube.com/embed/QzcpUdBw7gs" frameborder="0" allowfullscreen></iframe>
<p>St. James Infirmary</p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
