---
title: 'Boogaloo'
date: '2014-09-25'
tags:
- music
---

<iframe width="560" height="315" src="http://www.youtube.com/embed/CIJfdVPACyw" frameborder="0" allowfullscreen></iframe>
<p>On the way driving south from the Adirondacks my friend and I happened upon a public radio station diving into the history of Boogaloo music and the fusion of Puerto Rican and African American cultures specifically in NYC. This well known song is just one piece resulting from the Nuyoricans</p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
