---
title: 'War'
date: '2014-07-12'
tags:
- music
- war
---

<iframe width="560" height="315" src="http://www.youtube.com/embed/WpYeekQkAdc" frameborder="0" allowfullscreen></iframe>
<p>If you never know truth you never know love.</p>

<p>This song oddly started playing in my head when I read the latest news out of Palestine and Israel.</p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
