---
title: 'Saturday Night at the Movies'
date: '2014-04-11'
tags:
- music
---

<iframe width="560" height="315" src="http://www.youtube.com/embed/RO3_rYa3azI" frameborder="0" allowfullscreen></iframe>
<p>Wow&#8230; long time no post! Getting back on track with this gem from The Drifters, Saturday Night at the Movies.</p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
