---
title: Susan B. Anthony
date: '2014-06-24'
tags:
- quotes
- cycling
---

<blockquote>Let me tell you what I think of bicycling. I think it has done more to emancipate women than anything else in the world. I stand and rejoice every time I see a woman ride by on a wheel.</blockquote>
<div class='attribution'>Susan B. Anthony, 1896</div>

