---
title: 'American Tune'
date: '2014-08-27'
tags:
- music
---

<iframe width="560" height="315" src="http://www.youtube.com/embed/vBqCpd31JPA" frameborder="0" allowfullscreen></iframe>
<p>We come in the age&#8217;s most uncertain hour and sing an American tune</p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
