---
title: 'Partly Fiction'
date: '2014-07-02'
tags:
- music
- blues
- country
---

<iframe width="560" height="315" src="http://www.youtube.com/embed/Q9ZxQ-5vZLE" frameborder="0" allowfullscreen></iframe>
<p>Check out Harry Dean Stanton: Partly Fiction sometime. He sings an even nicer version of this, Canción Mixteca.</p>

<p><br />
¡Qué lejos estoy del suelo donde he nacido!<br />
inmensa nostalgia invade mi pensamiento;<br />
y al verme tan solo y triste cual hoja al viento,<br />
quisiera llorar, quisiera morir de sentimiento.<br />
¡Oh Tierra del Sol! Suspiro por verte<br />
ahora que lejos yo vivo sin luz, sin amor;<br />
y al verme tan solo y triste cual hoja al viento,<br />
quisiera llorar, quisiera morir de sentimiento.</p><div class="attribution">(<span>Source:</span> <a href="https://www.youtube.com/">https://www.youtube.com/</a>)</div>
