---
:from: Kunal Shah <me@kunalashah.com>
:to: '"stream@kunalashah.com" <stream@kunalashah.com>'
:received: 2015-09-17 12:13 -04:00
:subject: Old Adirondacks Photo
:attachments:
  ii_14fdc14e1fa2d65e:
    :maintype: image
    :mimetype: image/jpeg
    :filename: 012_10A.JPG
    :filepath: "/var/www/kunalashah.com/source/photos/012_10A.JPG/012_10A.JPG"
:title: Old Adirondacks Photo
:filename: 2015-09-17-old-adirondacks-photo.html.erb
:filepath: "/var/www/kunalashah.com/source/blog/2015-09-17-old-adirondacks-photo.html.erb"
---
Second trip?
<div><br></div>
<div>
<%= automatic_clowncar_tag 'photos/012_10A.JPG' %><br>
</div>