---
:from: Kunal Shah <me@kunalashah.com>
:to: '"stream@kunalashah.com" <stream@kunalashah.com>'
:received: !ruby/object:DateTime 2015-02-08 16:13:05.000000000 -05:00
:subject: 'Bob Kramer : The Fire Inside'
:attachments: {}
:tags:
- art
- design
:title: 'Bob Kramer : The Fire Inside'
:filename: 2015-02-08-bob-kramer-the-fire-inside.html.erb
:filepath: "/var/www/kunalashah.com/source/blog/2015-02-08-bob-kramer-the-fire-inside.html.erb"
---
Craftsmanship matters.<br clear="all"><div><br></div>
<div>
<div class="video-container youtube"><iframe width="420" height="315" src="//www.youtube.com/embed/JOacMzdch7o" frameborder="0" allowfullscreen></iframe></div><br>
</div>
