---
:from: Kunal Shah <me@kunalashah.com>
:to: '"stream@kunalashah.com" <stream@kunalashah.com>'
:received: !ruby/object:DateTime 2015-12-07 13:17:22.000000000 -05:00
:subject: a wealth of pry plugins
:attachments: {}
:tags:
- code
:title: a wealth of pry plugins
:filename: 2015-12-07-a-wealth-of-pry-plugins.html.erb
:filepath: "/var/www/kunalashah.com/source/blog/2015-12-07-a-wealth-of-pry-plugins.html.erb"
---
https://github.com/pry/pry/wiki/Available-plugins
<div><br></div>
<div>A number of useful pry plugins I wasn't aware of.</div>