---
:from: Kunal Shah <me@kunalashah.com>
:to: '"stream@kunalashah.com" <stream@kunalashah.com>'
:received: !ruby/object:DateTime 2015-11-15 16:51:20.000000000 -05:00
:subject: Inside Clojure
:attachments: {}
:tags:
- code
:title: Inside Clojure
:filename: 2015-11-15-inside-clojure.html.erb
:filepath: "/var/www/kunalashah.com/source/blog/2015-11-15-inside-clojure.html.erb"
---
<div class="video-container youtube"><iframe width="420" height="315" src="//www.youtube.com/embed/wASCH_gPnDw" frameborder="0" allowfullscreen></iframe></div><div style="font-size:12.8px"><br></div>
<div style="font-size:12.8px">Looks like I'm drinking the Clojure Kool-Aid.</div>
