---
:from: Kunal Shah <me@kunalashah.com>
:to: '"stream@kunalashah.com" <stream@kunalashah.com>'
:received: 2015-01-15 21:51 -05:00
:subject: Lover, Lover, Lover
:attachments: {}
:tags:
- music
:title: Lover, Lover, Lover
:filename: 2015-01-15-lover-lover-lover.html.erb
---
<div class="video-container youtube"><iframe width="420" height="315" src="//www.youtube.com/embed/oVURkMTDr3E" frameborder="0" allowfullscreen></iframe></div><br clear="all"><div><br></div>
<div>Leonard Cohen</div>
