---
:from: Kunal Shah <me@kunalashah.com>
:to: '"stream@kunalashah.com" <stream@kunalashah.com>'
:received: 2015-11-26 08:55 -05:00
:subject: Unix System Calls
:attachments: {}
:tags:
- code
:title: Unix System Calls
:filename: 2015-11-26-unix-system-calls.html.erb
:filepath: "/var/www/kunalashah.com/source/blog/2015-11-26-unix-system-calls.html.erb"
---
<div class="video-container youtube"><iframe width="420" height="315" src="//www.youtube.com/embed/xHu7qI1gDPA" frameborder="0" allowfullscreen></iframe></div><br>
<div><br></div>
<div>Excellent video that lays out some of the basics of unix system calls and unix's view of the computer.</div>