---
:from: Kunal Shah <me@kunalashah.com>
:to: stream@kunalashah.com
:received: !ruby/object:DateTime 2015-02-12 21:48:18.000000000 -05:00
:subject: 12000 years ago
:attachments: {}
:title: 12000 years ago
:filename: 2015-02-12-12000-years-ago.html.erb
:filepath: "/var/www/kunalashah.com/source/blog/2015-02-12-12000-years-ago.html.erb"
---
<p dir="ltr">Randall Carlson is a bit of a loon, but discovery and uncovering of megalithic buildings such as gobekli tepe is just fascinating. <div class="video-container youtube"><iframe width="420" height="315" src="//www.youtube.com/embed/R31SXuFeX0A" frameborder="0" allowfullscreen></iframe></div></p>
