---
:from: Kunal Shah <me@kunalashah.com>
:to: '"stream@kunalashah.com" <stream@kunalashah.com>'
:received: !ruby/object:DateTime 2015-02-11 11:14:09.000000000 -05:00
:subject: Pyrenees
:attachments:
  ii_14b796795ff461c3:
    :maintype: image
    :mimetype: image/jpeg
    :filename: 20140511_125401.jpg
    :filepath: "/var/www/kunalashah.com/source/photos/20140511_125401.jpg/20140511_125401.jpg"
:title: Pyrenees
:filename: 2015-02-11-pyrenees.html.erb
:filepath: "/var/www/kunalashah.com/source/blog/2015-02-11-pyrenees.html.erb"
---
<div>Basque country along the coast</div>
<div><br></div>
<%= automatic_clowncar_tag 'photos/20140511_125401.jpg' %><br>
