---
:from: Kunal Shah <me@kunalashah.com>
:to: '"stream@kunalashah.com" <stream@kunalashah.com>'
:received: !ruby/object:DateTime 2015-10-29 13:46:14.000000000 -04:00
:subject: everysingle.bike
:attachments: {}
:title: everysingle.bike
:filename: 2015-10-29-everysingle-bike.html.erb
:filepath: "/var/www/kunalashah.com/source/blog/2015-10-29-everysingle-bike.html.erb"
---
Last week I released a project I've been working on since August, http://everysingle.bike/ "Every Single Bike" is exactly what you'd think it might be - a bicycle database and search engine.<div><br></div>
<div>It originally came about as a result of Andrew Ng's Machine Learning course on Coursera. After the course I wanted to test out what I'd learn on a novel data set, something that would interest me so I went immediately for bicycles. Along the way though I realized how difficult the data was to compile and that there is no universally available source for it -- so I'm making it.</div>
<div><br></div>
<div>The comparison algorithm is in place but doesn't work very well at the moment. There are a number of improvements I intend to make in the coming months. First, dropping a number of irrelevant features from the algorithm, adding a few in as well, but the biggest challenge will be impute and interpolating missing features for many bikes. The data from manufacturer to manufacturer is spotty and it is difficult to do an apples to apples comparison as of yet.</div>
<div><br></div>
<div>A big take away from this project is discovering methods for decreasing experimentation time. I can't say enough how invaluable having a brand new very powerful machine is. For this project I retired my MBP when I started facing serious hardware limitations and built up a Hackintosh. Being able to keep the entirety of the dataset on your hard drive and having enough CPU to chomp on it makes a dramatic difference in your ability and will to try different things out.</div>
<div><br></div>
<div>Check out the site and any feedback is appreciated. Many features including user generated content and comments soon.</div>