---
:from: Kunal Shah <me@kunalashah.com>
:to: '"stream@kunalashah.com" <stream@kunalashah.com>'
:received: !ruby/object:DateTime 2015-10-24 14:48:56.000000000 -04:00
:subject: Bosley - Just Like You
:attachments: {}
:tags:
- music
:title: Bosley - Just Like You
:filename: 2015-10-24-bosley-just-like-you.html.erb
:filepath: "/var/www/kunalashah.com/source/blog/2015-10-24-bosley-just-like-you.html.erb"
---
<div class="video-container youtube"><iframe width="420" height="315" src="//www.youtube.com/embed/UlS7UjFQCrM" frameborder="0" allowfullscreen></iframe></div>
