---
:from: Kunal Shah <me@kunalashah.com>
:to: '"stream@kunalashah.com" <stream@kunalashah.com>'
:received: !ruby/object:DateTime 2015-02-05 20:59:34.000000000 -05:00
:subject: 'New Feature : Committer'
:attachments: {}
:tags:
- code
- middleman
- meta
:title: 'New Feature : Committer'
:filename: 2015-02-05-new-feature-committer.html.erb
:filepath: "/var/www/kunalashah.com/source/blog/2015-02-05-new-feature-committer.html.erb"
---
Another piece of the puzzle: auto-commit incoming blog posts.<div><br></div>
<div>Now when you use https://github.com/whistlerbrk/Mail2FrontMatter any incoming emails to your blog will not only be parsed, processed and written, but also now committed to git and push.</div>
<div><br></div>
<div>With this final piece the dual workflow is complete. On the road or when time is short: email your blog. For lengthier articles break out your editor and plunk it down.</div>
<div><br></div>
<div>A little more polish on the configuration options -- namely, making this optional and I'll push a new version of the gem.</div>