---
:from: Kunal Shah <me@kunalashah.com>
:to: '"stream@kunalashah.com" <stream@kunalashah.com>'
:received: 2015-02-07 08:35 -05:00
:subject: bitcoin and energy
:attachments: {}
:title: bitcoin and energy
:filename: 2015-02-07-bitcoin-and-energy.html.erb
:filepath: "/var/www/kunalashah.com/source/blog/2015-02-07-bitcoin-and-energy.html.erb"
---
At the end of the day what's powering computers is.. power. So what creates bitcoin is mostly the burning of fossil fuels. For all of its brilliance at the end of the day bitcoin is an environmental disaster.<br>
<div><br></div>
<div>Now imagine if there was a cryptocurrency based not on solving arbitrary math problems but instead your reward is based on how much energy you put into the grid. Basically an energy credit. Your delta is your efficiency.</div>