---
:from: Kunal Shah <me@kunalashah.com>
:to: '"stream@kunalashah.com" <stream@kunalashah.com>'
:received: !ruby/object:DateTime 2015-02-26 13:30:22.000000000 -05:00
:subject: Professional Societies are Guilds
:attachments: {}
:tags:
- thoughts
:title: Professional Societies are Guilds
:filename: 2015-02-26-professional-societies-are-guilds.html.erb
:filepath: "/var/www/kunalashah.com/source/blog/2015-02-26-professional-societies-are-guilds.html.erb"
---
<p>We need a second coming of professional societies and organizations. They need to stand up and really represent us. I don't know if involves lobbying or advocacy but probably both.</p>
<p>The AMA should revoke licenses of drug dealing kickback receiving doctors while fighting the crazy bureaucracy that prevents them from doing their damned jobs. Lawyers who use their knowledge to unethically tie down our system should be ruthlessly debarred. Professional engineering societies should continuously demand better and better standards. There is no shortage of people who want to go into these careers and having bad actors spoils everyones view of the whole. Just look at the crisis of science and peer review.</p>
<p>These societies are our modern day guilds and they/we need to fight to protect the integrity of the professions they represent.</p>
