---
:from: '"stream@kunalashah.com" <stream@kunalashah.com>'
:to: Kunal Shah <me@kunalashah.com>
:received: 2015-01-12 15:43 -05:00
:subject: Bringing Back the Stream
:attachments:
  ii_14adfe2824a97532:
    :maintype: image
    :mimetype: image/jpeg
    :filename: IMG_20131002_130410.jpg
    :filepath: "/var/www/kunalashah.com/source/photos/IMG_20131002_130410.jpg/IMG_20131002_130410.jpg"
:tags:
- code
- middleman
:title: Bringing Back the Stream
:filename: 2015-01-12-bringing-back-the-stream.html.erb
---
<div>Giant of the Valley, posted via email</div>
<div><br></div>
<%= automatic_clowncar_tag 'photos/IMG_20131002_130410.jpg' %><br clear="all"><div><br></div>
