---
:from: Kunal Shah <me@kunalashah.com>
:to: '"stream@kunalashah.com" <stream@kunalashah.com>'
:received: !ruby/object:DateTime 2015-01-27 20:42:57.000000000 -05:00
:subject: Andrew Lang
:attachments: {}
:tags:
- quotes
:title: Andrew Lang
:filename: 2015-01-27-andrew-lang.html.erb
---

<blockquote>He uses statistics as a drunken man uses lamp-posts, for support rather than illumination.</blockquote>
<div class='attribution'>Andrew Lang</div>
