---
:from: Kunal Shah <me@kunalashah.com>
:to: '"stream@kunalashah.com" <stream@kunalashah.com>'
:received: 2017-03-21 09:36 -04:00
:subject: Recent HN Links
:attachments: {}
:title: Recent HN Links
:filename: 2017-03-21-recent-hn-links.html.erb
:filepath: "/var/www/kunalashah.com/source/blog/2017-03-21-recent-hn-links.html.erb"
---
Useful stuff I'd like to go through<div><br></div>
<div>
http://course.fast.ai - starts with NN, where Andrew Ng's course leaves off<br>
</div>
<div><br></div>
<div>
http://www.craftinginterpreters.com - when messing around with building lispy I used a parser generator, but this has a nice section on recursive descent<br>
</div>
<div><br></div>
<div>
http://distill.pub - Machine Learning allstars go Bret Victor style.<br>
</div>
<div><br></div>
<div>
http://sarabander.github.io/sicp/html/index.xhtml - Nicely formatted version of SICP<br>
</div>
<div><br></div>