---
:from: Kunal Shah <me@kunalashah.com>
:to: '"stream@kunalashah.com" <stream@kunalashah.com>'
:received: !ruby/object:DateTime 2017-09-19 12:56:50.000000000 -04:00
:subject: Alicia Keys in Paris
:attachments: {}
:tags:
- music
:title: Alicia Keys in Paris
:filename: 2017-09-19-alicia-keys-in-paris.html.erb
:filepath: "/var/www/kunalashah.com/source/blog/2017-09-19-alicia-keys-in-paris.html.erb"
---
<div class="video-container youtube"><iframe width="420" height="315" src="//www.youtube.com/embed/AG4Rfao5uyU" frameborder="0" allowfullscreen></iframe></div><br clear="all"><div><br></div>
<div><br></div>
