---
layout: page
title: About
---

<div id='content'>
  <div id='article'>
    <p>
      I am a full stack developer and engineer based out of Brooklyn, NYC. I have coded for and on the web since '97 in various capacities - personal, private, and open source.
    </p>
    <p>
      My interests are in history, patterns, technology, space, music, film, and the environment.
    </p>
    <p>
      This site is statically generated using middleman and my project <a href="https://github.com/whistlerbrk/mail2frontmatter">mail2frontmatter</a> which brings email-in to static blogs.
    </p>
  </div>
</div>
