---
layout: page
title: About
---

<div id='content'>
  <div id='article'>
    <p>
      I am a full stack developer and engineer based out of Brooklyn, NYC. I have coded for and on the web since '97 in various capacities - personal, private, and open source.
    </p>
    <p>
      My interests are in history, patterns, technology, space, music, film, and the environment.
    </p>
    <p>
      This site uses middleman and my own layout. It is responsive, but I don't use any
      polyfills so if it breaks, it is probably on you, but possibly still on me.
    </p>
  </div>
</div>
