---
layout: page
title: About
---

<div id='content'>
  <div id='article'>
    <p>
      I am a full stack web designer and backend engineer based out of Brooklyn, NYC. I have coded for the web since '97 in various capacities - personal, private, and open source.
    </p>
    <p>
      I am interested in history and examining patterns and cycles in our collective culture and environment. I am an avid supporter of sustainability, environmentalism, and global infrastructure.
    </p>
    <p>
      I am a frequent backpacker of the Adirondacks and explorer of the outdoors. I have recently become a bicycle tourer as well. At home I dabble with cooking, electronics, and hydroponic gardening. 
    </p>
  </div>
</div>
