---
layout: page
title: About
---

<div id='content'>
  <div id='article'>
    <h1>About Myself</h1>

    <p class='teaser'>
      I am a full stack engineer, systems architect, and freelance consultant based out of Brooklyn, NYC. I have coded for and on the web since '97 in various capacities - personal, private, and open source.
    </p>
    <p class='teaser'>
      My professional interests include software for collaboration, tools for thought, and more recently machine learning, natural language processing, functional programming, and static analysis.
    </p>
    <p class='teaser'>
      My personal interests include history, engineering, film, sustainability, politics, cycling &amp; cycle-touring, backpacking, cooking, and sport climbing.
    </p>
    <p class='teaser'>
      This site is statically generated using middleman and my project <a href="https://github.com/whistlerbrk/mail2frontmatter">mail2frontmatter</a> which brings email-in to static blogs.
    </p>
  </div>
</div>
