---
title: About
hide_blog: true
---

<div id='content'>
  <div id='article'>
    <h1>About</h1>

    <p class='teaser'>
      I'm a software developer, entrepreneur, and consultant currently living in New Jersey with my lovely wife and kids. I have coded for and on the web since '97 in various capacities - personal, private, and open source.
    </p>
    <p class='teaser'>
      I love applying technology to real world problems that are deep, messy, and nuanced. In so doing I hope to create value and help build a few successful businesses along the way.
    </p>
    <p class='teaser'>
      My personal interests include history, sustainability, gardening, cooking, cycle-touring, and backpacking.
    </p>
  </div>
</div>
