---
layout: page
title: Contact Me
---

<div class="grid-parent box" id='contact'>
  <div class='grid-100 content boxtitle dkpurple'>
  <h2>Contact Me</h2>
  </div>
  <div class='grid-100 content collapse'>
    <span style='font-family:Courier New, Monospace;'>['me', '@', 'kunalashah.com'].join</span>
    <br /><br />
    Please, no recruiters
  </div>
</div>
