---
layout: page
title: Contact Me
---

<div id='content'>
  <h2>Contact Me</h2>
  <div id='article'>
    <span style='font-family:Courier New, Monospace;'>['me', '@', 'kunalashah.com'].join</span>
    <br /><br />
    Your thoughtful coorespondence is most welcome. <em>Please, no recruiters.</em>
  </div>
</div>
