---
layout: page
title: Contact Me
---

<h2>Contact Me</h2>

<div class='box'>
  <span style='font-family:Courier New, Monospace;'>['me', '@', 'kunalashah.com'].join</span>
  <br /><br />
  Please, no recruiters
</div>
