---
layout: page
title: CV &amp; Portfolio
hide_blog: true
---

<p style='font-style:italic;'>please note: I am in the midst of redoing my portfolio to be visual instead of textual</p>

<div id='content'>
  <div id='article'>
    <a href="http://addsalttotaste.com/"><h3>Salt to Taste</h3></a>
    <span>2013 - Present</span>
    <ul>
      <li>Collaborative Recipes</li>
      <li>Launching soon</li>
    </ul>

    <a href="http://upontheboard.com/"><h3>Up On The Board</h3></a>
    <span>2013 - Present</span>
    <ul>
      <li>A simple real time bulletin/pinboard/list app.</li>
      <li>Uses Pusher/React.js/Rails/Postgres/Redis</li>
    </ul>

    <h3>Humble Suggestions</h3>
    <span>2013</span>
    <ul>
      <li>All the time shifting apps we&apos;ve seen recently beg the question: if not now, then when?</li>
      <li>No longer online - Netflix has taken down their API, so the app no longer works well.</li>
    </ul>

    <h3>Partner &amp; CTO, Corre Group</h3>
    <span>SoHo June 2012 - Present</span>
    <ul>
      <li>Managing massive amounts of data</li>
      <li>Built infrastructure for quickly crunching on massive amounts of data quickly</li>
      <li>Visualizing data for end users</li>
    </ul>

    <a href="http://status.urtak.com/"><h3>Head of Product, Urtak</h3></a>
    <span>
      Union Square July 2011 - April 2012 (NYC TechStars 2011)
    </span>
    <ul>
      <li>Architected and implemented statistics, visualizations and analytics</li>
      <li>Defining metrics and owning product marketing</li>
      <li>Defining and owning product roadmap</li>
    </ul>

    <a href="http://en.wikipedia.org/wiki/Drop.io"><h3>Systems Engineer, drop.io</h3></a>
    <span>DUMBO February 2010 - November 2010 (acquired by facebook)</span>
    <ul>
      <li>Worked with business, operations and engineering to develop and direct a product roadmap</li>
      <li>Created and owned processes surrounding infrastructure provisioning and deployment</li>
      <li>Developed deployment, branch management, code maintenance, testing, and quality strategies</li>
      <li>Production operations team member</li>
    </ul>

    <a href="http://digitalpulp.com"><h3>Developer, Digital Pulp</h3></a>
    <span>New York, NY July 2008 - December 2009</span>
    <ul>
      <li>Developed, launched and maintained high traffic data driven content management systems</li>
      <li>Built a publishing platform to integrate a major trade magazine with the web</li>
      <li>Used cutting edge deployment, testing and source control tools</li>
      <li>Worked with and contributed back to open source projects</li>
      <li>Learned test / behavior driven development</li>
    </ul>

    <a href="http://montclare.poly.edu/"><h3>Research Assistant, Protein Engineer</h3></a>
    <span>Brooklyn, New York 2004-2006</span>
    <ul>
      <li>Researched nanoscale drug delivery vehicles and copolymers for tissue engineering</li>
      <li>Routinely performed cloning, culturing, expression, purification, and spectroscopy</li>
      <li>Cloned a library of protein polymers for nanoscale drug encapsulation</li>
      <li>Performed kinetics and fluorescence studies to measure substrate binding and activity</li>
      <li>Work presented at the American Chemical Society National Conference</li>
    </ul>

    <h3>Webmaster and Creator of SidGames.com</h3>
    <span>Warren, New Jersey 1998 - 2001</span>
    <ul>
      <li>A seemingly very long time ago. How I got my start.</li>
      <li>Apparently there is still some record of this on the <a href="http://www.independent.co.uk/arts-entertainment/second-site-empire-building-1116712.html" target="_blank">web</a>.</li>
    </ul>

    <h3>Hashsassins</h3>
    <span>January 2013</span>
    <ul>
      <li>A twitter mediated game of <a href="http://en.wikipedia.org/wiki/Assassin_(game)">assassins</a> designed to promote interoffice networking.</li>
      <li>Launched when needed, porting to SMS. Available as <a href="https://github.com/whistlerbrk/hashsassins">open source</a></li>
    </ul>
  </div>
</div>
