---
layout: page
title: CV &amp; Portfolio
---

<div class="grid-parent box" id='experience'>
  <div class='grid-100 content boxtitle dkgreen'>
  <h2>Select Experience</h2>
  </div>
  <dl class='grid-100 content'>
    <dt>Partner &amp; CTO, Corre Group</dt>
    <dd>
      <h4>SoHo June 2012 - Present</h4>
      <ul>
        <li>Managing massive amounts of data</li>
        <li>Built infrastructure for quickly crunching on massive amounts of data quickly</li>
        <li>Visualizing data for end users</li>
      </ul>
    </dd>
    <a href="http://status.urtak.com/"><dt>Head of Product, Urtak</dt></a>
    <dd>
      <h4>
        Union Square July 2011 - April 2012 (NYC TechStars 2011)
      </h4>
      <ul>
        <li>Architected and implemented statistics, visualizations and analytics</li>
        <li>Defining metrics and owning product marketing</li>
        <li>Defining and owning product roadmap</li>
      </ul>
    </dd>

    <a href="http://en.wikipedia.org/wiki/Drop.io"><dt>Systems Engineer, drop.io</dt></a>
    <dd>
      <h4>DUMBO February 2010 - November 2010 (acquired by facebook)</h4>
      <ul>
        <li>Worked with business, operations and engineering to develop and direct a product roadmap</li>
        <li>Created and owned processes surrounding infrastructure provisioning and deployment</li>
        <li>Developed deployment, branch management, code maintenance, testing, and quality strategies</li>
        <li>Production operations team member</li>
      </ul>
    </dd>

    <a href="http://digitalpulp.com"><dt>Developer, Digital Pulp</dt></a>
    <dd>
      <h4>New York, NY July 2008 - December 2009</h4>
      <ul>
        <li>Developed, launched and maintained high traffic data driven content management systems</li>
        <li>Built a publishing platform to integrate a major trade magazine with the web</li>
        <li>Used cutting edge deployment, testing and source control tools</li>
        <li>Worked with and contributed back to open source projects</li>
        <li>Learned test / behavior driven development</li>
      </ul>
    </dd>

    <a href="http://montclare.poly.edu/"><dt>Research Assistant, Protein Engineer</dt></a>
    <dd>
      <h4>Brooklyn, New York 2004-2006</h4>
      <ul>
        <li>Researched nanoscale drug delivery vehicles and copolymers for tissue engineering</li>
        <li>Routinely performed cloning, culturing, expression, purification, and spectroscopy</li>
        <li>Cloned a library of protein polymers for nanoscale drug encapsulation</li>
        <li>Performed kinetics and fluorescence studies to measure substrate binding and activity</li>
        <li>Work presented at the American Chemical Society National Conference</li>
      </ul>
    </dd>

    <dt>Webmaster and Creator of SidGames.com</dt>
    <dd>
      <h4>Warren, New Jersey 1998 - 2001</h4>
      <ul>
        <li>A seemingly very long time ago. How I got my start.</li>
        <li>Apparently there is still some record of this on the <a href="http://www.independent.co.uk/arts-entertainment/second-site-empire-building-1116712.html" target="_blank">web</a>.</li>
      </ul>
    </dd>
  </dl>
</div>

<div class="grid-parent box" id='projects'>
  <div class='grid-100 content boxtitle orange'>
  <h2>Select Projects</h2>
  </div>
  <dl class='grid-100 content'>
    <a href="http://addsalttotaste.com/"><dt>Salt to Taste</dt></a>
    <dd>
      <h4>2013 - Present</h4>
      <ul>
        <li>Collaborative Recipes</li>
        <li>Launching soon</li>
      </ul>
    </dd>

    <a href="http://upontheboard.com/"><dt>Up On The Board</dt></a>
    <dd>
      <h4>2013 - Present</h4>
      <ul>
        <li>A simple real time bulletin/pinboard/list app.</li>
        <li>Uses Pusher/React.js/Rails/Postgres/Redis</li>
      </ul>
    </dd>

    <dt>Humble Suggestions</dt>
    <dd>
      <h4>2013</h4>
      <ul>
        <li>All the time shifting apps we&apos;ve seen recently beg the question: if not now, then when?</li>
        <li>No longer online - Netflix has taken down their API, so the app no longer works well.</li>
      </ul>
    </dd>

    <dt>Hashsassins</dt>
    <dd>
      <h4>January 2013</h4>
      <ul>
        <li>A twitter mediated game of <a href="http://en.wikipedia.org/wiki/Assassin_(game)">assassins</a> designed to promote interoffice networking.</li>
        <li>Launched when needed, porting to SMS. Available as <a href="https://github.com/whistlerbrk/hashsassins">open source</a></li>
      </ul>
    </dd>
  </dl>
</div>

<div class="grid-parent box" id='proficiencies'>
  <div class='grid-100 content boxtitle dkred'>
  <h2>Proficiencies</h2>
  </div>
  <dl class='grid-100 content'>
    <dt>Programming</dt>
    <dd>
      <ul>
        <li>Application Servers, Middleware &amp; Proxies: rack, unicorn, passenger, nginx, mongrel, thin, haproxy, apache</li>
        <li>Infrastructure &amp; Deployment: cap, continous integration</li>
        <li>Data Stores / Caches: postgres, mysql, redis, memcached, neo4j, and now HDFS</li>
        <li>Systems Administration: code management, process management and supervision, package and application dependency management</li>
        <li>Languages: Ruby, Javascript, PHP, Python, Bash, old Perl, a bit of C, Java and R.</li>
        <li>Front End: Real time Responsive HTML5 web development</li>
        <li>Frameworks/Libraries: Rails, node, React, jQuery, underscore, d3</li>
        <li>Background/Asynchronous: Pusher, Resque, Sidekiq, Celluloid, ZeroMQ, EventMachine</li>
        <li>Planning: Data modeling, Systems Architecture</li>
     </ul>
    </dd>

    <dt>Product</dt>
    <dd>
      <ul>
        <li>understand the ecosystem</li>
        <li>respect the process</li>
        <li>planning before action</li>
        <li>architecture before engineering</li>
        <li>collect the right metrics, look at the data</li>
        <li>iterate in sensible release cycles, talk to people</li>
      </ul>
    </dd>

    <dt>Biochemistry</dt>
    <dd>
      <ul>
        <li>Molecular cloning, PCR, expression, SDS-PAGE, purification, western blotting</li>
        <li>Spectroscopy, fluorescence, kinetics/binding studies</li>
        <li>Random and Site Directed Mutagenesis, protein design</li>
      </ul>
    </dd>
  </dl>
</div>

<div class="grid-parent box" id='education'>
  <div class='grid-100 content boxtitle purple'>
  <h2>Education &amp; Interests</h2>
  </div>
  <dl class='grid-100 content'>
    <dt>Polytechnic University (NYU-Poly)</dt>
    <dd>
      <h4>2002-2006, Chemistry, Biomedical Sciences Concentration</h4>
      <ul>
        <li>Won Simeon Gang Prize for Excellence in Biotechnology</li>
        <li>Gold Service Award as a Student Government Vice President</li>
        <li>Founded Polytechnic Mountain &amp; River Club</li>
      </ul>
    </dd>
    <dt>Hobbies &amp; Interests</dt>
    <dd>
      <ul>
        <li>Hiking/camping/backpacking, rock climbing, cycling, hockey</li>
        <li>Gardening, cooking, aqua/hydroponics, urban sustainability</li>
        <li>Film, music, sculpture, industrial design, light and installation art</li>
      </ul>
    </dd>
  </dl>
</div>
