---
layout: layout
title: Home
hide_blog: true
---

<div id='content'>
  <div id='links'>
    <div class='link-preview'>
      <h2><a href='//news.ycombinator.com'>HN</a></h2>
    </div>
    <div class='link-preview'>
      <h2><a href='//forums.adkhighpeaks.com'>ADK HP</a></h2>
    </div>
    <div class='link-preview'>
      <h2><a href='//theradavist.com'>Radavist</a></h2>
    </div>
    <div class='link-preview'>
      <h2><a href='http://www.theatlantic.com/'>The Atlantic</a></h2>
    </div>
    <div class='link-preview'>
      <h2><a href='http://www.newyorker.com/'>The New Yorker</a></h2>
    </div>
  </div>
</div>
