---
layout: layout
title: Home
hide_blog: true
---

<div id='content'>
  <div id='links'>

    <h2>Tech</h2>
    <div class='link-preview'>
      <a href='//news.ycombinator.com'>HackerNews</a>
      <a href='//arstechnica.com'>Ars Technica</a>
      <a href='//theverge.com'>The Verge</a>
    </div>

    <h2>Outdoors</h2>
    <div class='link-preview'>
      <a href='//forums.adkhighpeaks.com'>ADK HP</a>
      <a href='//theradavist.com'>Radavist</a>
      <a href='https://janheine.wordpress.com/'>Off the Beaten Path</a>
    </div>

    <h2>Journalism</h2>
    <div class='link-preview'>
      <a href='http://www.theatlantic.com/'>The Atlantic</a>
      <a href='http://www.newyorker.com/'>The New Yorker</a>
    </div>
  </div>
</div>
