---
hide_blog: true
---
<div id='header'>
  <div id='banner'>
    <a href="/" alt="www.kunalashah.com" id='home'>Kunal Shah</a>
  </div>
</div>

<div id='home-links'>
  <div><a href="/about">About</a></div>
  <div><a href="/cv">CV</a></div>
  <div><a href="/contact">Contact</a></div>
  <div><a href="/blog">Blog</a></div>
  <div><a href="https://github.com/kshahkshah">GitHub</a></div>
  <div><a href="https://www.linkedin.com/in/kunal-a-shah/">LinkedIn</a></div>
</div>
