<div class="box grid-parent" id="title">
  <div class="content grid-100">
    <a href="/" alt="kunalashah.com"><h1>Kunal Shah</h1></a>
    <p id='subtitle'>
      I am an engineer and entrepreneur working in New York City and living in the Borough of Brooklyn.
    </p>
  </div>
</div>

<div class="grid-parent box" id='contact'>
  <h2 class="tiledbox grid-20 mobile-grid-100 tablet-grid-20">contact</h2>
  <a href="https://github.com/whistlerbrk">
    <div class="grid-20 tablet-grid-20 mobile-grid-100 tiledbox teal" id='github'><h3>github</h3></div>
  </a>
  <a href="/contact">
    <div class="grid-20 tablet-grid-20 mobile-grid-100 tiledbox dkred" id='contact'><h3>email</h3></div>
  </a>
  <a href="http://www.linkedin.com/pub/kunal-shah/51/3a2/397">
    <div class="grid-20 tablet-grid-20 mobile-grid-100 tiledbox yellow" id='linkedin'><h3>linkedin</h3></div>
  </a>
  <a href="https://twitter.com/whistlerbrk">
    <div class="grid-20 tablet-grid-20 mobile-grid-100 tiledbox dkblue" id='twitter'><h3>@whistlerbrk</h3></div>
  </a>
</div>

<div class="grid-parent box" id='links'>
  <div class="tiledbox grid-20 mobile-grid-100 tablet-grid-20 tiledbox color"><h2>links</h2></div>
  <div class="grid-80 tablet-grid-80 mobile-grid-100 grid-parent">
  <a href="/cv">
    <div class="grid-33 mobile-grid-100 tablet-grid-33 tiledbox orange" id='cv'><h3>cv</h3></div>
  </a>
  <a href="https://www.flickr.com/photos/whistlerbrk/">
    <div class="grid-33 mobile-grid-100 tablet-grid-33 tiledbox purple" id='photos'><h3>photos</h3></div>
  </a>
  <a href="/blog">
    <div class="grid-33 mobile-grid-100 tablet-grid-33 tiledbox dkgreen" id='blog'><h3>blog</h3></div>
  </a>
  </div>
</div>

<div class="grid-parent box" id='projects'>
  <div class="tiledbox grid-20 mobile-grid-100 tablet-grid-20"><h2>projects</h2></div>
  <a href="http://upontheboard.com/"><div class="grid-40 mobile-grid-100 tablet-grid-40 tiledbox brightgreen" id='upontheboard'><h3>up on the board</h3></div></a>
  <a href="http://addsalttotaste.com/"><div class="grid-40 mobile-grid-100 tablet-grid-40 tiledbox ltgrey" id='salttotaste'><h3>salt to taste</h3></a></div>
</div>
