---
hide_blog: true
---

<a href="/" alt="kunalashah.com"><h1>Kunal Shah</h1></a>
<span id='subtitle'>
  I am a full stack engineer, systems architect, and freelance consultant based out of Brooklyn, NYC.
</span>

<div class='bar'>
  <div class='bar-header'><h2>links</h2></div>
  <div class='bar-link' id='about'><a href="/about">about</a></div>
  <div class='bar-link' id='contact'><a href="/contact">contact</a></div>
  <div class='bar-link' id='portfolio'><a href="/cv">portfolio</a></div>
  <div class='bar-link' id='blog'><a href="/blog">blog</a></div>
</div>

<div class='bar'>
  <div class='bar-header'><h2>presence</h2></div>
  <div class='bar-link' id='github'><a href="https://github.com/whistlerbrk">github</a></div>
  <div class='bar-link' id='photos'><a href="https://www.flickr.com/photos/whistlerbrk/">flickr</a></div>
  <div class='bar-link' id='twitter'><a href="https://twitter.com/whistlerbrk">@whistlerbrk</a></div>
</div>

<div class='bar'>
  <div class='bar-header'><h2>projects</h2></div>
  <div class='bar-link' id='bikedb'><a href="https://everysingle.bike">everysingle.bike</a></div>
  <div class='bar-link' id='m2fm'><a href="https://github.com/whistlerbrk/mail2frontmatter">mail2frontmatter</a></div>
  <div class='bar-link' id='upontheboard'><a href="http://upontheboard.com/">up on the board</a></div>
  <div class='bar-link' id='salttotaste'><a href="http://addsalttotaste.com/">salt to taste</a></div>
</div>
