---
title: Kunal's User Manual
hide_blog: true
---

<div id='content'>
  <div id='article'>
    This is my public attempt at a <a href='/blog/2022/08/03/personal-user-manuals.html'>personal user manual</a>. I'll put a template for this out on GitHub soon. Some of what I've written below is conflated with organizational preferences but is included since it ultimately defines how I act and what I advocate for in the context of a broader org.

    <h2>Work Preferences</h2>
    <ul>
      <li>I love remote but recogonize that absolutely nothing replaces in-person genuine human interaction.</li>
      <li>I work a lot, especially so when motivated.</li>
      <li>My schedule is not fixed and varies by season. I get up with the sun and check/respond to email with coffee. I view good weather as an expiring resource whose consumption should be prioritized by all.</li>
      <li>I do not expect others to bend their schedule to mine. A late night or weekend Slack/email from me will generally include 'no need to respond now'. Along these lines I discourage the use of messaging apps on personal devices and/or turn off notifications when possible. Caveats apply</li>
    </ul>

    <h2>Communication Style</h2>
    <ul>
      <li>I'm candid - In exchange for my candor I ask that people I interact with be candid with me. At a minimum I always want to know if I'm 'off base' about an opinion I'm throwing out in conversation (hopefully not carelessly). If you disagree, please tell me and I'll take it seriously.</li>
      <li>Lots of context - I think it is valuable to understand why people believe what they believe and how they came to their conclusions. I provide a lot of context, this can also be a weakness if it done in an unstructured fashion.</li>
      <li>Provide history - I find that a great deal of organizational confusion (and consequently 'politics') arises from a misunderstanding of history. Providing history has two critical functions, it absolves tenured people for consequences of decisions made when less information was available and it allows for newcomers to challenge ideas from a first principles perspective.</li>
      <li>Self deprecating - People are afraid to not know things. I try to break this by betraying my own ignorance often and publicly or simply by making it safe for others (e.g "for those who've never heard of X, I never knew about it until Y, what it means and others here please feel free to correct me if I get this wrong, is...")</li>
    </ul>

    <h2>Collaboration &amp Organizations</h2>
    <ul>
      <li>I vastly prefer *long* meetings to many short 'syncs'. I find 30 minutes is enough time for people to get settled in and start a discussion but not enough for anything meaningful to come out of it. This ultimately leads to future meetings, many context shifts, and timelines being drawn out due to calendaring conflicts. I prefer *hard* collaboration, people in a room, pacing about, whiteboarding, getting frustrated, taking breaks, but ultimately emerging on the same page not just with the end decisions and actions but understanding the process which yielded them.</li>
      <li>On the flipside long periods of focus time are necessary for deep work, especially amongst individual contributors. Managers must <a href='http://www.paulgraham.com/makersschedule.html' target='_blank'>understand this</a></li>
      <li>Metrics are not goals, if you use a metric as a goal - especially in a larger company - gamesmanship will follow</li>
      <li>Agree to the goals with the business but leave implementation details to individual teams</li>
      <li>Overcommunicate risks, trade-offs, opportunity costs and status changes</li>
      <li>Product feature teams must be able to deliver value end-to-end to their customers with minimal coordination with adjacent teams. That is delivery/timeline risks increase as a function of independent teams involved.</li>
      <li>The impact of meaningful work can not always be measured/predicted ahead of time. Instincts matter. Good implementations provide compound interest and emergent opportunity. As a result not all work is justifiable with hard numbers. Do not get stuck in metrics-driven local maxima</li>
    </ul>

    <h2>Management &amp; Relationships</h2>
    <ul>
      <li>Provide context over attempting (and failing) to control. Control works in the short term and is the domain of the IC. Context pays long terms dividens and is (primarily) the domain of management</li>
      <li>Management best practices are real and work. Hold 1:1s, make sure they are <a href='https://www.radicalcandor.com/effective-one-on-ones/' target='_blank'>effective</a>. Do not forget about the person. I'll provide my 1:1 template in the future</li>
      <li>No information is far worst than negative information. If you do not reward information flowing you will cease to receive it</li>
      <li>Managers should encourage 1:1s between team members, PMs, and business stakeholders especially for Senior ICs. Count this doubly so in a remote environment</li>
      <li>Teams create the work. Managers facilitate process and shield their team from organizational noise so they can focus. Conversely they ensure organizational *signal* reaches the team so they understand where best to invest and where to skimp</li>
      <li>When people achieve a 'flow state' everything else should be deprioritized actively by their manager. The productivity achieved in these moments is generally worth the collateral damage, especially for ICs.</li>
      <li>If you are on-call or responsible for people I expect you to drop your personal life, for the moment, in order to triage emergencies.</li>
    </ul>

    <h2>Motivations</h2>
    <ul>
      <li>Common goals. I draw energy from the excitement of those around me.</li>
      <li>Growth oriented mindsets in colleagues</li>
      <li>Altruistic cooperation. Convinction that by helping others we help ourselves</li>
      <li>We do good things not to be seen doing them but because they are the right thing to do</li>
    </ul>

    <h2>Demotivations</h2>
    <ul>
      <li>Cynicism, negativity. Self-fulfilling prophecies.</li>
      <li>When I perceive others, who are incentivized similarly to me, as not working as hard as I am. This can at times be a cognitive bias though.</li>
      <li><a href='https://www.okayhq.com/blog/status-quo-is-so-hard-to-change-in-engineering-teams' target='_blank'>Learned helplessness</a></li>
      <li>Red tape, opaque processes for obtaining change, going through 'proper channels'</li>
      <li>Posturing, politicking, intellectual dishonesty of any kind</li>
      <li>Gatekeeping, kingdom building, cliques, lone heroism/savior complex</li>
    </ul>

    <h2>Values</h2>
    <ul>
      <li>First principles thinking</li>
      <li>Transparency and openness</li>
      <li>Subject matter expertise / become a domain expert</li>
      <li>Nothing documentation replaces source material / is better than reading the code</li>
      <li>Conversely a reading and writing culture is essential to establish early in organizations</li>
    </ul>

    <h2>Blind Spots</h2>
    TBD. These need to be assessed by others. I've been recommended the <a href='https://kevan.org/johari' target='_blank'>Johari window</a>.
    <ul>
      <li></li>
    </ul>
  </div>
</div>
